[2020-11-28 18:56] ADRE9 opened #2 "Screenshots"
![Screenshot (138)](https://user-images.githubusercontent.com/49809895/100523828-770df600-31d9-11eb-9319-b5ac958f5d9b.png)
![Screenshot (139)](https://user-images.githubusercontent.com/49809895/100523833-7c6b4080-31d9-11eb-80b3-bf87c7fe1404.png)

[2021-03-02 14:39] #2 closed

[2021-03-02 14:40] ADRE9 opened #4 "Update Readme.md"
Update the readme with the file structures and more pictures and snaps of applications.

[2021-03-02 14:45] ADRE9 opened #5 "Oauth for Instagram and Google needs to be attached."
The oauth functionality of Instagram and Facebook has not been attached yet

[2021-03-02 14:50] ADRE9 opened #6 "Clicking on the edit button reloads the page."
clicking on the edit button of the subject reloads the page for the first time

[2021-03-05 13:20] ADRE9 opened #7 "Add theming options"
Dark theme and light theme needs to be integrated

[2021-03-05 13:22] ADRE9 opened #8 "About section needs to be added in the landing page menu"

[2021-03-05 13:23] ADRE9 opened #9 "Calendar needs to be integrated for timetable."

[2021-03-08 06:22] Devenkapoor7303 commented on #4
Can I work on this issue as a part of GSSOC 21

[2021-03-08 06:24] ADRE9 commented on #4
Yes, Go ahead. Make a beautiful and interactive one!

[2021-03-08 06:26] ADRE9 opened #10 "Add a footer."

[2021-03-08 06:28] Devenkapoor7303 commented on #4
Okay

[2021-03-08 06:34] promaroy commented on #10
Can I work on this as a part of GSSOC '21?

[2021-03-08 06:34] promaroy commented on #8
Can I work on this as a part of GSSOC '21?

[2021-03-08 06:39] ADRE9 commented on #8
Sure Go ahead!

[2021-03-08 06:40] ADRE9 commented on #10
Yes, you are welcome to do so!

[2021-03-08 13:54] AakankshaKamal commented on #7
I am a GSSOC 2021 participant and would like to work on this project. Do we have any groups for discussions related to this?

[2021-03-08 14:04] Muditxofficial commented on #6
Hello, @ADRE9  for admin it is not reloading, please give more details.

[2021-03-08 14:23] ADRE9 commented on #7
We'll soon be starting it. Thanks for asking .

[2021-03-08 14:26] ADRE9 commented on #6
Can you try it out on mobile and confirm.

[2021-03-08 14:32] Gyaniultimate commented on #5
Can I work on this part to add oauth functionality for facebook? as a part of GSSOC'21

[2021-03-08 14:50] Anjali041 commented on #10
Can you assign this issue to me ? I am a participant of GSSoC'21

[2021-03-08 16:15] ADRE9 commented on #5
Yes go ahead!

[2021-03-08 16:17] ADRE9 commented on #10
You can fork and work on it. We can merge your PR if we like. So go ahead !

[2021-03-08 16:37] Ankita297 commented on #8
Can i work on this ?

[2021-03-08 16:51] Muditxofficial commented on #6
Yeah i found out too many errors occur in mobile.I will look into this tomorrow.

[2021-03-08 16:59] AnjaliPatle opened #11 "Creating an issue template for the project"
Hey. I was wondering if it would be helpful to add an issue template. If you plan on having a template for this project then please assign me this issue as I'd like to work on it as a GSSOC'21 participant.

[2021-03-08 17:44] ADRE9 commented on #11
Sure that would be great!

[2021-03-08 17:46] ADRE9 commented on #4
Add separate sections for MacOS and Windows.

[2021-03-08 18:10] Devenkapoor7303 commented on #4
Okay I will do that

[2021-03-08 18:31] Devenkapoor7303 commented on #4
But can u tell me some differences becoz i have never used MacOs

[2021-03-08 19:12] namansamra commented on #5
can i work on this for  Oauth funtionality as a part of GSSOC'21? please assign it to me.

[2021-03-08 19:54] ADRE9 commented on #4
Ok , do it for Windows fir now.

[2021-03-08 19:55] ADRE9 commented on #5
Okay @namansamra @Gyaniultimate we are planning to ditch the Insta OAuth and introduce Google instead. So @Gyaniultimate  can go for Facebook and @namansamra you can go for Google OAuth.

[2021-03-08 19:56] Devenkapoor7303 commented on #4
Okay @ADRE9

[2021-03-08 20:52] shairanshrawat commented on #8
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021
Thank you.

[2021-03-09 03:13] sahildotexe commented on #10
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 05:47] Mustafiz04 opened #14 "Send email when user sign up using node-mailer"

[2021-03-09 06:05] micksharma commented on #6
I want to work on this issue.

[2021-03-09 06:06] micksharma commented on #4
I want to work on this issue.

[2021-03-09 06:07] micksharma commented on #11
I want to work on this issue.

[2021-03-09 06:10] micksharma commented on #10
Can I work on this issue.

[2021-03-09 06:14] micksharma commented on #9
Hi , I want to work on this issue.

[2021-03-09 06:16] ADRE9 commented on #9
Go ahead !

[2021-03-09 06:18] ADRE9 commented on #10
Yes @sahildotexe @micksharma @promaroy go ahead fork the project and return with a good PR. All the best

[2021-03-09 06:19] ADRE9 commented on #4
Go ahead. Can you write commands for MacOs as well? Make a good and an interactive one.

[2021-03-09 06:23] micksharma commented on #4
@ADRE9 ok I write commands for MacOS as well

[2021-03-09 06:51] srk224 commented on #10
Can i also work on it and create my pull request @ADRE9 ??
I am a gssoc'21 participant

[2021-03-09 06:56] srk224 commented on #8
Hey . I would like to work on this
We can add the about page and moreover if you could tell me the details of what to add in that ABOUT page.. I would do that too.
Would love to work on this.
Thanks a lot

[2021-03-09 06:58] Muditxofficial commented on #6
@micksharma yeah you can do it.

[2021-03-09 07:59] subhangi2731 commented on #7
can you please assign me this?

[2021-03-09 08:04] ADRE9 opened #20 "Redesign the UI/UX of the App for landing page"
We need to rethink the UI/UX of the MERN stack app for the desktop. So we need experienced designers who are good at using FIGMA or Adobe XD. And create an overall UI of the App so that we can create and modify components according to it. @Mustafiz04 and @Sanyam2000-dot  can you look for experienced participants for it? Contact me as soon as you get one.

[2021-03-09 08:08] subhangi2731 commented on #9
can I work on this?

[2021-03-09 08:10] #4 closed

[2021-03-09 08:17] Saptar001 commented on #20
Can you assign me the task of redesigning the UI/UX for the GSSoC,21 ?

[2021-03-09 08:18] ADRE9 commented on #8
We are for now redesigning the UI/UX of the app so if you have any idea sure pitch it up.

[2021-03-09 08:21] ADRE9 opened #22 "The logo for the Instagram needs to be replaced with that of Google"
The OAuth logo for Instagram needs to be replaced with that of the Google. Participants contact @Sanyam2000-dot for guidance.

[2021-03-09 09:12] namansamra commented on #5
@ADRE9 we need to implement the Oauth for the "Sign In" functionality only? because for the "Sign Up" process user has to fill some more detail other than email and password  like department semester etc.

[2021-03-09 09:28] Quickbeasts51429 commented on #22
hey can I take up the task?

[2021-03-09 09:42] ADRE9 commented on #20
Ok for now start with the design of front page. But the Sign In and Sign Up card stays as it is. You can change color though to match your design. @Saptar001

[2021-03-09 09:57] #10 closed

[2021-03-09 10:06] ADRE9 commented on #5
For now just attaching the code for OAuth will do. We can implement the Sign Up with Google later. After Sign Up with google we will redirect the user to another page and make them fill the rest of the details. We will also attach the confirm with email feature. @namansamra

[2021-03-09 10:33] Sanyam2000-dot commented on #22
Sure. Go ahead!

[2021-03-09 10:41] udaymittal7 commented on #14
Hey, can I take this task?

[2021-03-09 10:53] Mustafiz04 commented on #14
Hey!
Yes go for it.

[2021-03-09 11:11] srk224 commented on #20
Can I also work on this and pitch up my idea?

[2021-03-09 11:17] srk224 opened #26 "Footer can be Improved"
Hey!
I just noticed that the footer of the website can be improved and ill be able to do it!
can you please assign me this task under gssoc'21?

[2021-03-09 11:38] srisatya12 commented on #26
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 12:04] Mustafiz04 commented on #26
Hey!
Yes go for it @srk224
If he not done in 1-2 then @srisatya1197 will go for it.

[2021-03-09 12:50] Abhishek765 commented on #7
Hello I would like to work on this I am a Gssoc'21 participant, could you assign this task to me?
And one thing can I set a button at top right corner to add the light and dark theme option??

[2021-03-09 12:53] srk224 commented on #26
Thanks for assigning the issue.......................I am on it
Will get it done by tomorrow!!

[2021-03-09 13:09] ADRE9 commented on #20
Sure ! Btw @Saptar001 and @srk224 what you both can do is you both can collaborate together. It'll make things go faster. And at a particular moment you can invite me to Figma or Adobe XD and I can review you designs and suggest.

[2021-03-09 13:11] ADRE9 commented on #7
@Abhishek765 and @subhangi2731 go ahead fork the project and make use of Theme.js file to change themes. Go through the Material-UI documentation and through my client folder to understand the structure of components.

[2021-03-09 13:16] ADRE9 commented on #26
@srisatya1197  you too go ahead and come back with your version of PR. The better one gets PR merged. Make a good one.

[2021-03-09 13:16] srk224 commented on #20
Yes..We can definitely do that
btw is there any discord server or anything through which we can communicate better?
@Saptar001 how should I contact you??.

[2021-03-09 13:43] Saptar001 commented on #20
@srk224 you can dm me at discord .
Username : Saptarshee(P)#6619

[2021-03-09 13:56] srisatya12 commented on #26
Thank you Sir

[2021-03-09 13:58] ADRE9 commented on #26
Hold Your PRs for somedays until we organize a meet and explain the repos to you

[2021-03-09 13:59] ADRE9 commented on #22
Hold Your PRs for somedays until we organize a meet and explain the repos to you

[2021-03-09 13:59] ADRE9 commented on #20
Hold Your PRs for somedays until we organize a meet and explain the repos to you

[2021-03-09 13:59] ADRE9 commented on #14
Hold Your PRs for somedays until we organize a meet and explain the repos to you

[2021-03-09 13:59] ADRE9 commented on #11
Hold Your PRs for somedays until we organize a meet and explain the repos to you

[2021-03-09 14:00] ADRE9 commented on #9
Hold Your PRs for somedays until we organize a meet and explain the repos to you

[2021-03-09 14:00] ADRE9 commented on #5
Hold Your PRs for somedays until we organize a meet and explain the repos to you

[2021-03-09 14:00] ADRE9 commented on #6
Hold Your PRs for somedays until we organize a meet and explain the repos to you.

[2021-03-09 16:03] AmeyaJain-25 opened #27 "Logo name hides in small screen"
![Screenshot from 2021-03-09 21-28-12](https://user-images.githubusercontent.com/66305085/110500022-cc359e00-811e-11eb-83ad-7a348a4f6e17.png)

The logo name is not perfectly adjusted when the browser width get's less or in nearby tab mode due to the navbar items.
I would like to solve this issue under GSSoC 21' as being a participant.
Please assign me this issue

[2021-03-09 17:54] udaymittal7 commented on #14
Yeah sure.

[2021-03-09 21:50] Abhishek765 commented on #27
@AmeyaJain-25 If you stuck in this try to find the font size and change the font-size to 100% and it will be fixed I tried that and it works  👍 Go ahead I am also a Gssoc'21 participant btw😅

[2021-03-10 05:25] AmeyaJain-25 commented on #27
Thanks.
I'm new to GSSoC.
Do I have to wait before I get assigned to this issue

[2021-03-10 07:20] ADRE9 commented on #27
Just a day or two and we will be starting to assign it to participants. Till then you can try to fix and and pitch up your code.

[2021-03-10 10:44] aishwarya0816 opened #29 "The headings in the Subject page look unattractive."
@ADRE9 The headings: CLASSES and LABS, look unattractive. Please allow me to enhance their look. I am a GSSOC'21 Participant and this would be a good first issue for me. Thankyou!

![Screenshot (73)](https://user-images.githubusercontent.com/55185952/110617348-98f51c80-81bb-11eb-8bc7-f0e5384dba22.png)

[2021-03-10 11:00] ADRE9 commented on #29
We are closed for some days. We'll surely assign you as soon as we are open for PRs.

[2021-03-10 16:43] srk224 commented on #20
@Saptar001 I am not able to find you on discord...can you please share your general username rather than the nickname for your gssoc server!!

[2021-03-10 16:55] nikhilgupta2001 commented on #6
I'd like to work on it as a GSSOC'21 participant.Please assign it to me

[2021-03-10 16:56] nikhilgupta2001 commented on #8
I'd like to work on it as a GSSOC'21 participant. Please Assign it to me

[2021-03-10 16:58] SARVESHKHANDELWAL commented on #27
Can you please assign me this issue I will fix that.

[2021-03-10 17:30] dig9074vijay opened #30 "Change default favicon"
Hey!
I noticed that we still have the default **favicon** that comes with React boilerplate code. I would to like to change it to the one that fits our theme as a GSSOC`21 participant.
@ADRE9

[2021-03-10 17:36] AmeyaJain-25 commented on #27
Ok Sure.
I'll keep the solution ready.
Will make the PR once you assign me the issue.

[2021-03-10 17:39] ADRE9 commented on #30
@dig9074vijay ok go ahead.

[2021-03-10 22:10] aishwarya0816 commented on #29
@ADRE9 Can you now assign me to work on this issue?

[2021-03-10 22:24] ADRE9 commented on #29
Go ahead @aishwarya0816 !

[2021-03-10 22:29] aishwarya0816 commented on #29
Okay! But it doesnt show me as ' assigned' yet? @ADRE9

[2021-03-10 22:57] ADRE9 commented on #29
I was to tell mentors to assign people from tomorrow. But you know it's the time you are asking for that made me assign it right now. All the best!

[2021-03-11 03:12] Saptar001 commented on #20
@srk224 Its my username, dont know why its not showing, you can share your username so that I could dm you.

[2021-03-11 07:18] ashirbad29 opened #31 "info icon in cards not working"
![image](https://user-images.githubusercontent.com/46968256/110749702-7ae4f600-8267-11eb-9200-51591a4afcee.png)
I can work on this issue as a GSSoC participant.
if it doesn't necessary we can remove this feature, or if this feature is required I can work on this.

[2021-03-11 08:39] dig9074vijay commented on #30
Thanks @ADRE9 ! I'll add it shortly

[2021-03-11 08:40] ADRE9 commented on #31
Hey! we are still reimagining the app. The info card will lead to a calendar that has gonna be marked with colors to show whether the participant has bunked the class, or it was cancelled or he attended. So the calendar feature gonna come first.

[2021-03-11 08:45] ADRE9 commented on #11
@AnjaliPatle start your PRs.  1 more day to complete

[2021-03-11 08:54] ADRE9 commented on #27
Start your PRs. I'll give you 1 day.

[2021-03-11 08:56] ADRE9 commented on #26
Start your PRs.

[2021-03-11 10:03] udaymittal7 commented on #14
I have implemented the code for this. Should I review it with you before making a pull request?

[2021-03-11 10:13] Mustafiz04 commented on #14
Have you run it in your local host??
Is it run perfectly??

If yes make a PR with proper name and with new branch.
We will receive it.

[2021-03-11 10:39] srk224 commented on #26
I have created my PR. Now the footer looks like this
![2021-03-11 (1)](https://user-images.githubusercontent.com/63584405/110774706-1c7a4080-8284-11eb-8e9d-35a20195a46c.png)

[2021-03-11 10:41] srk224 commented on #26
I have created my PR. The footer is centre aligned and looks better
![2021-03-11 (1)](https://user-images.githubusercontent.com/63584405/110774998-6f53f800-8284-11eb-9922-a076b74532bc.png)

[2021-03-11 10:43] srk224 commented on #20
@Saptar001 my username-Shahrukh💣#9724
Message me on discord

[2021-03-11 12:44] udaymittal7 commented on #14
The changes I am making in the code after running on vs code and then running the server is not reflected on the site running on my localhost. Not this email one specifically, but any change I make.  What should I do?

Also I am getting this error after running npm run dev

![image](https://user-images.githubusercontent.com/72199778/110789431-e1810880-8295-11eb-9493-d89d2bda6121.png)
![image](http

[2021-03-11 13:36] udaymittal7 commented on #14
I have checked the implementation of my code in one of my project and it is working just fine. Should I make the PR and then you can review it?

[2021-03-11 13:47] Mustafiz04 commented on #14
Have you run `npm install` in your terminal??
See this is mongo error there are some syntax mistake.
Go through the line where MongooseError start.

[2021-03-11 13:48] Mustafiz04 commented on #14
First run successfully on your local then make PR.
It will be better for both of us.

[2021-03-11 13:51] ADRE9 commented on #14
Can you show @Mustafiz04  a live version before making a PR? If @Mustafiz04 agrees you can make a PR to the branch-1.

[2021-03-11 13:56] udaymittal7 commented on #14
Yes I did run npm install in both client folder and the main folder as mentioned by you.  I think the process.env.URI is not defined which is causing the issue.

![image](https://user-images.githubusercontent.com/72199778/110797787-7fc59c00-829f-11eb-991e-493eccfd7cbb.png)

Should i connect it with my mongoDB to test it?

[2021-03-11 13:57] bhubesh757 commented on #20
@Saptar001 Are you working only on the UI/Ux , or Else making The code for that , If not after completing the ui design i can make the code for that. @Saptar001 @srk224 If You agree with this ! @ADRE9 Look into this Contibution

[2021-03-11 13:59] udaymittal7 commented on #14
@ADRE9 Yes, I will only make the PR on his confirmation. I also don't want to burden you by making the PR for reviewing it.

[2021-03-11 15:16] lopamudra2000 opened #37 "Add labels to mobile navigation icons."
![screenshot](https://user-images.githubusercontent.com/63795546/110808942-7a218380-82aa-11eb-866e-2c265cca09ae.jpeg)
For clarity we can add labels to icons in bottom nav for mobile view.

[2021-03-11 15:16] lopamudra2000 commented on #37
@ADRE9  and mentors , I am gssoc21 participant can you assign this issue to me.

[2021-03-11 16:08] ADRE9 commented on #37
Sure go ahead!

[2021-03-11 16:37] #29 closed

[2021-03-11 16:39] #11 closed

[2021-03-11 16:44] lopamudra2000 commented on #37
@ADRE9  please keep branch-1 parallel to Master. I'm Facing conflicts while making PR to Branch-1.

[2021-03-11 16:47] #27 closed

[2021-03-11 16:48] #37 closed

[2021-03-11 16:50] udaymittal7 commented on #14
My changes are still not be able to reflect when I run my code and start the server. Though the mongoose error is gone.
What to do @Mustafiz04

[2021-03-11 16:51] ADRE9 commented on #37
Branch-1 has been removed and replaced with the dev all changes were minor and not breaking.

[2021-03-11 19:46] #30 closed

[2021-03-12 08:50] icoderharshit commented on #26
Kindly assign this issue to me as well @ADRE9 sir ! Because, I want to add responsiveness to the footer also along with a better design.

[2021-03-12 10:10] ADRE9 commented on #26
There's this issue when in mobile view the footer overlaps over the bottom navigation. Fix that and do another PR @srk224

[2021-03-12 10:11] ADRE9 commented on #22
Start your PR.

[2021-03-12 10:12] ADRE9 commented on #5
Okay you all can start making you PR. 3 days of time given else we would reassign.

[2021-03-12 10:28] ADRE9 commented on #26
Start making your PR then, 1day of time given else I'll have to reassign.

[2021-03-12 10:32] ADRE9 commented on #20
@bhubesh757 start working on it and send me the link to FIGMA or AdobeXd . I will review your design.

[2021-03-12 10:49] namansamra commented on #5
Please assign me this. I have implemented the sign In feature and wanted some discussion /help for sign Up feature.

[2021-03-12 10:51] srk224 commented on #20
@ADRE9 Can you give me a brief idea on what exactly we have to design !?

[2021-03-12 11:12] ADRE9 commented on #20
The total UI of the landing page for first. Since the UI of the app would be and overload. The better UI will be implemented and if I don't like it. I'll hire one from outside.

[2021-03-12 11:16] srk224 commented on #20
So basically we have to design a whole new website and if possible the show the new features which can be added in the wireframes?

[2021-03-12 14:06] rohank2502 opened #44 "Tech Stack Update ( LOGO add )"
**Deliverables:**
Add the deliverables with their description here.

I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 14:06] rohank2502 opened #45 "Adding Contributor section in readme ( Automatically )"
**Deliverables:**
Add the deliverables with their description here.
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 18:27] Arshanshagarwal commented on #26
I would like to contribute to this issue. Please assign me this task as a part of GSSoC'21.

[2021-03-12 18:27] Arshanshagarwal commented on #26
I would like to contribute to this issue. Please assign me this task as a part of GSSoC'21.

[2021-03-12 19:58] aishwarya0816 opened #46 "Headings of the Attendance page"
**Deliverables:**
- [ ] The formatting of headings of the Attendance Page should be similar to those in the Subjects page.
Please assign me for it.

**Screenshots**
CURRENT
![Screenshot (73)](https://user-images.githubusercontent.com/55185952/110991741-0a3ef600-839b-11eb-9e17-459f218d4138.png)

EXPECTED
![Screenshot (75)](https://user-images.githubusercontent.com/55185952/110991906-3a869480-839b-1

[2021-03-12 21:58] sahilempire commented on #45
I want to work on this issue, **Please assign me**.

Thanking you

[2021-03-13 07:38] abhay27chauhan opened #47 "working with mongoose means working with promises"
### Proposal

if you are working with mongoose, means you are working with promises. So, you need to handle promise. This is an easy fix but good for long term.

I suggest instead of this:

- **mongoose.connect(process.env.URI, {
  useNewUrlParser: true,
  useCreateIndex: true,
  useUnifiedTopology: true,
  autoIndex: true,
  useFindAndModify:false,
});**

You should do this:

`
const connectDB =

[2021-03-13 07:38] abhay27chauhan commented on #47
I am a participant of GSSOC21, so please let me know if this is a valid proposal

[2021-03-13 09:39] udaymittal7 commented on #14
Hey I made the PR for it and it got merged. Please check.

[2021-03-13 10:06] Mustafiz04 commented on #47
@abhay27chauhan Yes go for it. I am assigning to you.
Also add event listener like

`
mongoose.connection.on('connected', () => {
        console.log('[Info] DB Connection Established')
    })
`

for connection, reconnection, disconnected and closed.

Have any doubt fell free to ask

[2021-03-13 11:00] khareyash05 opened #48 "add contributing.md"
Hey! I would like to add the following in contributing.md
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of GSSOC'21

[2021-03-13 11:12] Mustafiz04 commented on #48
@khareyash05 Go for it.
I am assigning to you.

[2021-03-13 12:32] #14 closed

[2021-03-13 12:48] udaymittal7 opened #49 "Add the sender email and add a suitable subject"
Adding the sender mail in nodemailer function to adrenine13@gmail.com and adding relevant subject.

[2021-03-13 13:14] Muditxofficial commented on #22
@ADRE9 Can you assign me this, if anybody not working on it.

[2021-03-13 16:17] udaymittal7 opened #51 "Adding various security features"
Setting various HTTP headers using helmet
Data sanitization against no SQL injection and XSS
Rate limiter so the server won't get overload
Preventing parameter pollution

If you find it relevant, please assign me.
Please add the relevant GSSOC tags too.

[2021-03-13 16:52] sparshsharma2510 commented on #26
I would love to work on this issue. @ADRE9 Can you please assign it to me?

[2021-03-13 17:07] Sanyam2000-dot commented on #46
Go ahead!

[2021-03-13 17:09] Sanyam2000-dot commented on #45
Go ahead @rohank2502

[2021-03-13 18:43] #48 closed

[2021-03-13 18:44] Mustafiz04 commented on #48
Great work 👏

[2021-03-13 18:45] Mustafiz04 commented on #51
Yes go for it @udaymittal7

[2021-03-13 18:47] #45 closed

[2021-03-13 19:52] ADRE9 commented on #22
Sure , go ahead.

[2021-03-13 19:59] Abhishek765 commented on #7
@Mustafiz04 **Please have a Look Without Dark theme**

![image](https://user-images.githubusercontent.com/43133456/111042489-a7656180-8463-11eb-88d4-e66e4a41d934.png)

![image](https://user-images.githubusercontent.com/43133456/111042605-2a86b780-8464-11eb-925e-a9523342c4cf.png)

**With Dark theme**

![image](https://user-images.githubusercontent.com/43133456/111042664-7df90580-8464-11eb-8d6f-8d05

[2021-03-13 20:07] Abhishek765 commented on #7
One Thing I faced some Issue (I don't know what happened I never change any server code ):  Due to this I am unable to log in Till now the dark theme works well with Auth page and Home page, as the rest of the pages are empty I am not able to add that functionality in those pages (we can add later once all pages are ready )
So Can I make a Pull request so that you and the team can review it?

![im

[2021-03-13 20:15] udaymittal7 commented on #51
Created a PR at #53. Please check.

[2021-03-13 20:43] udaymittal7 commented on #49
Hey, when I upstream the master branch, the utils folder doesn't contain email,js file in which I have to update changes. How to resolve this?

[2021-03-14 13:50] abhinav5481 commented on #9
Hi,
I would like to work on it, Could you please assign it to me if it is still open

[2021-03-14 14:36] #51 closed

[2021-03-14 15:25] ADRE9 commented on #49
Try pulling once. I don't see a reason why it doesn't contain the email.js file else.

[2021-03-14 15:28] ADRE9 commented on #9
Ok, @subhangi2731 you can try first and then @abhinav5481  can go for it. But before you both need to explain what all libraries you are gonna use.

[2021-03-14 16:29] ADRE9 commented on #5
@namansamra the google button will be merged soon and after that you can start making your PR. But we have some issues we need to discuss first. I have assigned you the issue, so after having a meet you can work on it.

[2021-03-14 17:43] ADRE9 commented on #7
Make a PR. But before I wanted to make sure you used the Theme.js file to implement the dark theme is it? And where do you think on keeping the button to switch the dark theme?

[2021-03-14 18:29] Abhishek765 commented on #7
No, I didn't use Theme.js and There is a reason behind that since I used context API to tell the application what is the current theme and sadly we can't use useContext hook inside our Theme.js I tried that but not able to get the theme status in Theme.js So I created my own Context of a theme called 'newTheme' and used in the application anyway I will made a PR and have a look at the file structu

[2021-03-14 18:36] Abhishek765 commented on #7
See the file structure and I added two folders `hooks` and `providers`

![image](https://user-images.githubusercontent.com/43133456/111079922-2caf4b80-8522-11eb-83b1-556d5fa1a0de.png)

[2021-03-14 18:40] Abhishek765 commented on #7
![image](https://user-images.githubusercontent.com/43133456/111080075-beb75400-8522-11eb-8e46-12c1bfef41ca.png)

![image](https://user-images.githubusercontent.com/43133456/111080085-ca0a7f80-8522-11eb-8b21-2c06488bdb99.png)

[2021-03-14 18:41] Abhishek765 commented on #7
Let me know if can make a PR?

[2021-03-15 05:20] ADRE9 commented on #7
Make it. We'll see if it gonna be merged or not. Nice job Btw. Loved the dark theme colors you have picked. I guess you have reversed teh hue. Isn't it?

[2021-03-15 08:23] Abhishek765 commented on #7
Check out this #58 Pull request It has two conflicts tell me what should I  do ?

[2021-03-15 11:29] ashirbad29 commented on #6
I can work on this issue as a GSSOC participant

[2021-03-15 11:43] ashirbad29 opened #59 "Confusing button name in signup section"
**Deliverables:**
Add the deliverables with their description here.
- [ ] The signup button should be named Register instead of signup because it's causing a bit of confusion

**Screenshots**
![image](https://user-images.githubusercontent.com/46968256/111147679-befe3080-85b0-11eb-8762-654577abee8f.png)

[2021-03-15 13:23] ADRE9 commented on #6
@ashirbad29 go ahead. @Mustafiz04 can you assign him. I am traveling and mobile doesn't have the feature of assigning people.

[2021-03-15 18:59] ADRE9 commented on #44
Sure go ahead!

[2021-03-15 19:03] ADRE9 commented on #47
@abhay27chauhan it has been two days and you'll be given one day more to contribute else we will reassign it to someone.

[2021-03-15 19:08] ADRE9 commented on #49
Complete it fast , I have another job for you.

[2021-03-15 19:43] ADRE9 commented on #5
go ahead @namansamra

[2021-03-15 19:48] #47 closed

[2021-03-15 19:50] udaymittal7 commented on #49
I will complete it by tomorrow evening. Thanks for the patience.

[2021-03-16 05:16] #44 closed

[2021-03-16 05:48] namansamra commented on #5
@ADRE9 I have some doubts about the flow . Is there any gitter chat or  something like that where I can ask you about that?

[2021-03-16 05:57] ADRE9 commented on #5
Discord server GSSOC bunk-manager channel

[2021-03-16 05:59] ADRE9 opened #62 "Production Error Heroku"
**Describe the bug**
Bug:-Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'self'". Either the 'unsafe-inline' keyword, a hash ('sha256-fSIMeQ9UIERL5ZqyJ76EFbfgakiTkW6MdrhTf01vKvg='), or a nonce ('nonce-...') is required to enable inline execution.
Go to the live link :- https://salty-brook-29410.herokuapp.com/

**Screenshots**
![Scr

[2021-03-16 08:53] Aryamanz29 opened #63 "[Need] PR template"
**Is your feature request related to a problem? Please describe.**
PR template

**Describe the solution you'd like**
I want to add a PR template

[2021-03-16 08:54] Aryamanz29 commented on #63
I would like to work on this issue, Please add labels and kindly assign it to me

[2021-03-16 09:21] ADRE9 commented on #63
Go ahead !

[2021-03-16 09:57] Aryamanz29 commented on #63
Please Add `gssoc21` label to this `Issue and PR` @ADRE9

[2021-03-16 10:33] #63 closed

[2021-03-16 10:34] #49 closed

[2021-03-16 21:15] garvitgupta13 opened #66 "Signup form validation error"
**Describe the bug**
There is no validation for semester in signup form

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'signup'
2. set semester as 950
3. It will be accepted
4. See error

**Expected behavior**
It should display error while receiving an invalid semester

**Screenshots**
![image](https://user-images.githubusercontent.com/70805691/111380701-b4d05500-86ca-11eb-8426-48017a

[2021-03-16 21:16] garvitgupta13 commented on #66
Please assign me this issue under gssoc21 label

[2021-03-16 22:22] ADRE9 commented on #66
Sure. Go ahead.

[2021-03-17 13:37] farseenmanekhan1232 opened #67 "There are no Social Media links for this project"
**Deliverables:**

* There are no social links such as Twitter , facebook , github , and LinkedIn*

**Screenshots**
![Screenshot 2021-03-17 190442](https://user-images.githubusercontent.com/67449931/111476119-d9244400-8753-11eb-9ec6-550d4d0d0935.png)
* The Green Arrow highlights the Directory of the Footer.js File *

[2021-03-17 13:56] farseenmanekhan1232 commented on #20
Can I work on Enhancements of the UI of the website , like Fonts , Colors etc. ??

[2021-03-17 13:57] farseenmanekhan1232 commented on #20
like in this case
![Screenshot 2021-03-17 192654](https://user-images.githubusercontent.com/67449931/111479228-c7906b80-8756-11eb-8c70-2089a980d043.png)
I changed the Logo font to Century Gothic

Likewise I'll try to improve the UI of the websites

[2021-03-17 14:19] ADRE9 commented on #20
@srk224 @farseenmanekhan1232 @Saptar001 you all can have a talk and make a consistent design. You can distribute the design of each page . I want it to be perfect and consistent. Each design will carry a level3 tag so yes I wont compromise a bit.

[2021-03-17 14:21] ADRE9 commented on #67
I'll provide you with it later.

[2021-03-17 15:11] farseenmanekhan1232 commented on #20
So should we implement the design in project itself or in Figma and Later implement the design in the project and Request for a PR??

[2021-03-17 15:12] farseenmanekhan1232 commented on #20
Hey , @srk224 &  @Saptar001  , can we collaborate??

[2021-03-17 15:21] farseenmanekhan1232 commented on #67
Can you please Provide social media links so that i can update the links

[2021-03-17 15:22] ASHISH-GITHUB2495 opened #69 "We can add "Get in touch section" in the footer."
**Deliverables:**
We can have a footer with Get in touch section ... you have option to fill name, email and message which will go directly to the admin.
Like the screenshot i have attach ...
if you like the idea  I would like to contribute as GSSOC'21 participant.

**Screenshots**
![Screenshot (15)](https://user-images.githubusercontent.com/57385079/111492140-6d95a300-8762-11eb-8c3a-39a94b739c86.

[2021-03-17 15:22] farseenmanekhan1232 commented on #67
Please provide them here or dm me in twitter
https://twitter.com/Mohd_Farseen

[2021-03-17 17:25] ADRE9 commented on #20
Use Figma for now , I'll review it. @Saptar001  is working on the landing page. Chose one page each.and be consistent to use same font and color palette everywhere. Better talk and decide.

[2021-03-18 05:36] ashirbad29 commented on #59
can i work on this issue as a gssoc student

[2021-03-18 05:53] ASHISH-GITHUB2495 commented on #69
Can I start working on it sir... ?

[2021-03-18 13:07] jain-rishabh-21 opened #70 "Using Docker to remove the setup hassle!"
**Is your feature request related to a problem? Please describe.**
We can consider using docker to reduce the setup hassle developers!

**Describe the solution you'd like**
This can be an alternative way for setting up keeping the standard way intact!

[2021-03-18 13:07] jain-rishabh-21 commented on #70
Please assign it to me!
Discord: krackerzzz#4371

[2021-03-18 16:36] ADRE9 commented on #69
Go ahead! Use material ui elements please. We are sticking to the material ui library. Link :- https://material-ui.com/

[2021-03-18 16:37] ADRE9 commented on #70
Cool! Go ahead!

[2021-03-18 18:18] kunaljain0212 opened #71 "Update the Tech Stack of the project in Readme"
**Deliverables:**
Add the deliverables with their description here.
- [x] Update tech stack to MERN in readme.md file.

**Screenshots**
Add any relevant screenshots to show how the elements look or works currently/how the enhanced element should look or function.

[2021-03-18 19:57] #66 closed

[2021-03-18 21:19] #46 closed

[2021-03-18 21:22] #22 closed

[2021-03-19 05:41] ASHISH-GITHUB2495 commented on #69
Thank you for assigning this task to me... I will give my best.

[2021-03-19 07:46] ADRE9 commented on #69
And yes @ASHISH-GITHUB2495 you can use Formik for react forms and Yup for validation, this will ease your jobs with handling forms.

[2021-03-19 07:46] ADRE9 commented on #69
And yes @ASHISH-GITHUB2495 you can use Formik for react forms and Yup for validation, this will ease your jobs with handling forms.

[2021-03-19 12:06] ASHISH-GITHUB2495 commented on #69
### Sir check it please ...am i going right or not?
And It will take time sir... is time madatory?
I am first time contributer ... so bit slower than other

Actually I am not very much familier with material-UI things... but i am expanding my knowledge and applying it...
.. thanks a lot sir.

![Screenshot (16)](https://user-images.githubusercontent.com/57385079/111777384-3d244500-88d9-11eb-9e12-53

[2021-03-19 14:54] ADRE9 commented on #69
You are doing great! Take your time.

[2021-03-19 22:48] Abhishek765 commented on #7
@ADRE9 Check this out Done with Dark theme :

![image](https://user-images.githubusercontent.com/43133456/111848707-bf405800-8931-11eb-823d-0e340c193651.png)

![image](https://user-images.githubusercontent.com/43133456/111849131-e186a580-8932-11eb-8f54-f012415e0f11.png)

[2021-03-20 05:22] farseenmanekhan1232 commented on #20
Ok

[2021-03-20 05:43] ASHISH-GITHUB2495 commented on #69
Thank you ... sir

[2021-03-20 09:15] Muditxofficial commented on #71
@kunaljain0212 I would like to work on this issue.

[2021-03-21 04:04] Mustafiz04 opened #76 "Add mongoose event listeners"
Required is to add event listeners at DB connection file

[code]

This is example of event listener when DB is connected.
Also have to add for Disconnected, Re-established, connection closed and throw error while some error occurs.

Have any doubt do ask her freely.
Good Luck.

[2021-03-21 04:15] Mustafiz04 opened #77 "Add validator to every required field in the form like Email, username, password etc using express-validator"
Write validator function as middleware. It should be before the actual controller function in every routes that take input from client side.

For example -

Email - should be email with proper formate
Username - should be unique and at-least 6 character long
Password - should be 8 character long which include at-least 1 special character, 1 capital letter
Semester - should not be greater than 8

a

[2021-03-21 04:33] promaroy commented on #76
Can I take up this issue?

[2021-03-21 06:33] Mustafiz04 commented on #76
Ya sure @promaroy
I am assigning to you.

[2021-03-21 11:50] Sanyam2000-dot opened #78 "Build a basic email verification page that ask you to verify your email."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-21 13:05] nehathakur27 commented on #77
I would like to work on it.

[2021-03-21 13:23] nehathakur27 commented on #78
I would like to work on it.

[2021-03-21 14:22] Muditxofficial commented on #77
@Mustafiz04 i would like to work on this issue.

[2021-03-21 14:37] Mustafiz04 commented on #77
Yes you can @Muditxofficial
I am assigning to you.

[2021-03-21 14:38] Mustafiz04 commented on #78
@nehathakur27 I am assigning to you.

[2021-03-21 17:01] kunaljain0212 opened #80 "Create a loading component"
**Is your feature request related to a problem? Please describe.**
The goal is to make a loading component that can be reused at different places whenever a backend API call is made or an update in the state happens or a fetch call takes place, so instead of holding the user on a screen we can show the loading component.

**Describe the solution you'd like**
1. Create a react loading componet.
2.

[2021-03-21 18:34] Devenkapoor7303 commented on #80
Can I work on this issue as a GSSOC Participant ?

[2021-03-21 21:46] ADRE9 commented on #80
Sure go ahead!

[2021-03-22 09:18] krishna-y2000 commented on #78
Hii @nehathakur27  ,
Please ping me at ```kyadav #6342``` on discord when you start to work on this issue . I am too working on same issue on another project.

[2021-03-23 04:26] Muditxofficial commented on #77
@Mustafiz04 What should i do about error messages should i just console log it. Also, i have to use express-validator right just to confirm as i need to install it .

[2021-03-23 05:08] #71 closed

[2021-03-23 09:10] Abhishek765 commented on #7
@ADRE9 You can close this issue since it is resolved.

[2021-03-23 10:49] #7 closed

[2021-03-23 12:15] #76 closed

[2021-03-24 10:11] Mustafiz04 commented on #77
@Muditxofficial return the message in similar way we return the data that can be used by frontend to display that message.
Yes, use express-validator.

https://express-validator.github.io/docs/check-api.html
for reference

don't forget to use it as middleware.

[2021-03-24 13:59] nehathakur27 commented on #78
![Screenshot from 2021-03-24 19-22-35](https://user-images.githubusercontent.com/36047037/112322679-1f8b1d00-8cd7-11eb-9ccd-ef8126ce3377.png)

All followed all the steps mentioned in the docs and still facing this issue while setting up the project

[2021-03-25 11:39] abhay27chauhan opened #83 "Initial Connection errors are not handled"
**Is your feature request related to a problem? Please describe.**

snippet of you code -

[code]

read this pls, the error handling part -
https://mongoosejs.com/docs/connections.html#:~:text=If%20initial%20connection%20fails%2C%20Mongoose,after%20initial%20connection%20was%20established.

you have handle two errors -

if promise is rejected -> using the above code i have proposed
error after ini

[2021-03-25 11:39] abhay27chauhan commented on #83
I am a participant of GSSOC21, so please let me know if this is a valid proposal

[2021-03-25 15:25] ADRE9 commented on #83
Go Ahead !

[2021-03-26 06:57] ADRE9 commented on #78
Just a min. There is some problem with the backend that needs to be fixed. Will inform you asap.

[2021-03-26 09:44] ADRE9 commented on #78
@nehathakur27 just ignore the error, the project should run fine if you have installed node modules for both client and server.

[2021-03-26 18:01] GurshehzadSingh commented on #59
Im a gssoc participant..can i work on this issue

[2021-03-26 19:09] ADRE9 commented on #59
@ashirbad29 ok go ahead.

[2021-03-27 06:33] Mustafiz04 commented on #77
@Muditxofficial How you work going on ??

[2021-03-27 10:04] Muditxofficial commented on #77
@Mustafiz04 I have started doing login but on which route should i check it.
![github2](https://user-images.githubusercontent.com/63860014/112717184-ff46a280-8f10-11eb-90c6-9ec66d1b6e0a.png)
http://localhost:3000/api/auth/login does not work

[2021-03-27 15:06] Abhishek765 opened #86 "Footer Icons are not syncing with dark theme"
**Deliverables:**
The footer icons are not synced properly with themes

**Screenshots**
**_See the Issue:_**

![image](https://user-images.githubusercontent.com/43133456/112724929-a2141680-8f3b-11eb-9793-61b7f437220a.png)
![image](https://user-images.githubusercontent.com/43133456/112724972-da1b5980-8f3b-11eb-9306-86ad174d1237.png)

I will fix it soon, kindly assigned me this issue so that I can c

[2021-03-27 15:52] Abhishek765 commented on #86
Check this PR for the mentioned Issue: #87

[2021-03-27 16:28] jainaayush01 opened #88 "Add COD_OF_CONDUCT.md file"

[2021-03-27 16:51] ADRE9 commented on #88
sure go ahead!

[2021-03-27 16:54] #83 closed

[2021-03-27 16:58] #20 closed

[2021-03-27 17:23] Saptar001 opened #89 "Redesigning the UI/UX for the Attendance Page of the app."
In a website of app the UI/UX also plays an important role in engagements. The better the UI of the app the more catchy it is and attracts more users.
I have already designed the Landing Page and I want to redesign and enhance the UI/UX of all the pages of the app .

It would be very nice if you kindly assign me this issue so that I could work on it for GSSOC,21.

[2021-03-28 17:28] #88 closed

[2021-03-28 17:29] ADRE9 commented on #89
Select a page and start working.

[2021-03-28 17:30] #86 closed

[2021-03-30 17:22] #70 closed

[2021-03-30 17:22] ADRE9 commented on #59
Since @ashirbad29  is not active I am reassigning it to @GurshehzadSingh . Go ahead.

[2021-03-30 17:28] ADRE9 opened #91 "Remake Landing Page."
**Deliverables:**
- [ ] Remake The landing page to look like [this](https://www.figma.com/file/dQbGpSkclUec07vztFkUEV/Material-Design-UI-kit-Components-library-Community?node-id=120%3A1658)
- [ ] Change color palettes.

**Screenshots**
![Screenshot 2021-03-30 225634](https://user-images.githubusercontent.com/49809895/113030450-3afc9900-91ab-11eb-8c53-52ab98610345.jpg)

[2021-03-30 17:35] ADRE9 commented on #89
Which page are you working on? Select one page and update the heading accordingly. And let other work on other pages.

[2021-03-30 17:38] Mustafiz04 commented on #77
Sorry for late.
Wait I am explaining you.

[2021-03-30 17:43] Mustafiz04 commented on #77
Validator file
[code]

in route file
[code]

Apply to all route with take input from frontend.

[2021-03-30 17:52] Saptar001 commented on #89
@ADRE9  I have started to work on the "Attendance Page".

[2021-03-31 18:52] Artistic18 opened #92 "Repositioning Fab Icon in Subject Page."
In the current version the Add Icon is overlapping the grid.
![Untitled](https://user-images.githubusercontent.com/16490253/113195563-0dcdea80-9280-11eb-9f7f-48920452be21.png)

It would be better to reposition and apply a little bit of scaling so that the UI looks cleaner.
After Changes :
![Untitled2](https://user-images.githubusercontent.com/16490253/113195754-44a40080-9280-11eb-8bd2-cbe4d17715b1

[2021-03-31 18:55] Artistic18 opened #93 "[FEATURE] Add Subject Dialog."
Currently clicking the add button redirects us to a new page.
I think it would be better instead of redirecting to new page, we can use a Form Dialog.
![Untitled3](https://user-images.githubusercontent.com/16490253/113196120-c300a280-9280-11eb-9330-f30beff356b2.png)

[2021-03-31 20:58] ADRE9 commented on #93
Amazing! It looks good to me.

[2021-03-31 20:59] ADRE9 commented on #92
How do you plan it for mobile devices?

[2021-03-31 21:02] ADRE9 commented on #80
@Devenkapoor7303 I am reopening the issue for other participants since you are not working on it.

[2021-03-31 21:03] ADRE9 commented on #78
@nehathakur27  are you working on this issue?

[2021-03-31 21:06] ADRE9 opened #94 "Create the Web App Logo"
**Deliverables:**
Add the deliverables with their description here.
- [x] Design the Logo and ask for review.
- [x] Integrate the logo along with the favicon in the codebase

[2021-04-01 03:26] Muditxofficial commented on #77
@Mustafiz04  Is there a way to check if my implementation is right using postman ?
i found two different url localhost:3000/user/signup and localhost:3000/api/auth/new/signup

[2021-04-01 09:56] himanshu007-creator commented on #94
Hi, i would like to work on this issue🙂. Please assign me this.

[2021-04-01 13:01] Artistic18 commented on #93
How does this look? @ADRE9
https://user-images.githubusercontent.com/16490253/113297527-5933d780-9318-11eb-8bc1-6f4cf48de558.mp4

[2021-04-01 13:07] Artistic18 commented on #93
How does this look? @ADRE9

https://user-images.githubusercontent.com/16490253/113297965-eaa34980-9318-11eb-89d4-ced985b4ce1b.mp4

[2021-04-01 13:40] ADRE9 commented on #93
@Artistic18 perfect🙌🏻.

[2021-04-01 13:51] ADRE9 commented on #94
Yes go ahead. And also add the favicon for the app and edit the manifest.json file accordingly to show in the splash screen(for mobile) and in the tabs(for desktops)

[2021-04-01 13:51] himanshu007-creator commented on #94
can you guide me later on regarding this?

[2021-04-01 14:29] Artistic18 commented on #93
I have added the pull request, kindly review it.

[2021-04-01 14:34] Artistic18 commented on #93
It's responsive.
Below is the screenshot for mobile devices.
![Untitled](https://user-images.githubusercontent.com/16490253/113310030-63a89e00-9325-11eb-9d2a-9afa1ccd2290.png)

[2021-04-01 15:48] ADRE9 commented on #93
@Artistic18 so this will work thes same edit subject page also , right?. You have reused the modal?

[2021-04-01 15:50] ADRE9 commented on #94
Sure! You can ask any mentors . If no one responds ,I'll. So don't worry.

[2021-04-01 15:59] Artistic18 commented on #93
@ADRE9 At the moment I have only implemented it for the Add functionality, I was thinking to create another issue for Edit functionality and let someone else work on it.

[2021-04-01 16:04] ADRE9 commented on #93
Yes, go ahead create an issue. I am pretty impressed by your knowledge of Redux .

[2021-04-01 16:14] ADRE9 commented on #93
Ok one more thing. Clicking outside the modal leaves the route to /subject/new. Make it change to /subject so that clicking outside the user may land back to the subject page.

[2021-04-01 16:15] Artistic18 commented on #93
Yes Sure working on it

[2021-04-01 16:17] ADRE9 opened #96 "[Design] Create an about page."
**Deliverables:**
Add the deliverables with their description here.
- [x] Design about page in FIGMA or Adobe XD
- [x] Be consistent with the color palette used [here](https://www.figma.com/file/dQbGpSkclUec07vztFkUEV/Material-Design-UI-kit-Components-library-Community?node-id=120%3A1658)
- [x] Ask for reviewing to the Project Admin

[2021-04-01 16:25] #26 closed

[2021-04-01 16:25] #5 closed

[2021-04-01 16:49] Mustafiz04 commented on #77
yes you can check every API on postman.
`localhost:3000/api/auth/new/signup ` this is correct
I give only example how to write validator and apply that to route as middleware.
Follow that ways, create and apply middleware to every route.

[2021-04-01 16:50] Mustafiz04 commented on #77
When will you complete this task because it take lots of time.

[2021-04-01 17:44] Muditxofficial commented on #77
Validator
[code]
Routes
[code]

Is it ok or should i add something?

[2021-04-01 18:18] Artistic18 opened #97 "[FEATURE] Edit Dialog"
Currently only the Add Subject functionality supports dialog box, the edit functionality still redirects to a new page.

#### Deliverables
- [x] Add support for Dialog box for Edit functionality.

#### The modal should be similar to this :-
![Untitled](https://user-images.githubusercontent.com/16490253/113336634-55b64580-9344-11eb-8428-4778eec3ffe8.png)

#### Feel free to assign yourself if you wa

[2021-04-01 18:18] Mustafiz04 commented on #77
correct but `isRequestValidated` always after validator function like `validateLogin`

[2021-04-01 21:30] Artistic18 commented on #93
@ADRE9 Fixed, kindly review the PR.

[2021-04-01 21:34] Artistic18 commented on #92
Yeah sorry I didn't thought about it earlier, it works fine for mobile devices but for higher resolutions it looks odd.

[2021-04-01 22:22] ADRE9 commented on #93
Attach a working video too.

[2021-04-02 01:35] ADRE9 commented on #92
I mean since the design has not yet been reimagined can you think of implementing the same with fab icon.

[2021-04-02 04:58] ASHISH-GITHUB2495 commented on #69
The above issue has resolved ....

[2021-04-02 04:58] #69 closed

[2021-04-02 06:52] rithgan commented on #91
Can I work on this?

[2021-04-02 07:08] ADRE9 commented on #91
Yes sure go ahead!. Make sure you use material UI and use the theme.js file to change colors. If any doubt persists , ask the mentors in our bunk manager server.

[2021-04-02 08:34] Artistic18 commented on #93
@ADRE9

https://user-images.githubusercontent.com/16490253/113398399-28a57980-93bc-11eb-9ac5-db4daf298451.mp4

[2021-04-02 09:39] Sanyam2000-dot opened #100 "Make the Footer Mobile responsive"
**Deliverables:**

- [ ] Make the footer mobile responsive.
- [ ] Make the icon size a little bigger.

**Screenshots**
![Screenshot (233)](https://user-images.githubusercontent.com/53525430/113404014-21cf3480-93c5-11eb-9227-c428cf5f377b.png)

[2021-04-02 09:42] Sanyam2000-dot opened #101 "Move the Footer below the Bottom Navigation in the Mobile view."
**Deliverables:**

- [ ] Move the Footer below the Bottom Navigation in the Mobile view.

**Screenshots**
![Screenshot (235)](https://user-images.githubusercontent.com/53525430/113404484-d9fcdd00-93c5-11eb-8b53-1507708aa3fd.png)
![Screenshot (233)](https://user-images.githubusercontent.com/53525430/113404493-dcf7cd80-93c5-11eb-8f6d-56429b37c815.png)

[2021-04-02 19:49] #93 closed

[2021-04-03 05:56] Sanyam2000-dot opened #102 "Renaming the attendance page and displaying subjects and labs which student has on the particular day."
**Deliverables:**

- [ ] Rename the attendance page to Today.
- [ ] Display only those subjects and labs which a student has on that day.

**Screenshots**
![BunkManager-Today](https://user-images.githubusercontent.com/53525430/113469920-fe60c400-946e-11eb-9a9a-f9aadff809b4.png)

[2021-04-03 05:58] Sanyam2000-dot commented on #9
@subhangi2731 Can you report your progress?

[2021-04-03 07:38] Sanyam2000-dot opened #103 "Adding a dropdown menu for every card element."
**Deliverables:**

- [ ] Adding the dropdown menu for each card element(subjects and labs)

**Screenshots**
![BunkManager-Subjects](https://user-images.githubusercontent.com/53525430/113471959-8e0d6f00-947d-11eb-95ac-d83b5ffb38cc.png)

[2021-04-03 07:41] Sanyam2000-dot opened #104 "Adding options to the dropdown menu."
**Deliverables:**

- [ ] Adding the option to change the pictures for subjects and labs in the dropdown menu.

**Screenshots**
![BunkManager-Subjects](https://user-images.githubusercontent.com/53525430/113472047-ff4d2200-947d-11eb-8ebc-88b002d185f5.png)

[2021-04-03 08:04] Sanyam2000-dot opened #105 "[Design] Create the subject details page."
**Deliverables:**

- [ ]  Design subject details page in FIGMA or Adobe XD
- [ ] Used the color palette that is used in the project

**Screenshots**
![BunkManager-Details](https://user-images.githubusercontent.com/53525430/113472455-03c70a00-9481-11eb-90e8-09775c74d235.png)

[2021-04-03 08:35] Artistic18 commented on #103
Can I work on this issue?

[2021-04-03 08:36] Sanyam2000-dot commented on #103
Sure, Go ahead! @Artistic18

[2021-04-03 08:51] Artistic18 commented on #103
@Sanyam2000-dot what should be the different options other than change pic in dropdown?

[2021-04-03 09:08] Artistic18 commented on #103
PC -
![1](https://user-images.githubusercontent.com/16490253/113473921-36c1cb80-948a-11eb-96a5-4a789bdd9de9.png)
![2](https://user-images.githubusercontent.com/16490253/113473922-37f2f880-948a-11eb-8aa6-e03561b652ff.png)
Mobile -
![3](https://user-images.githubusercontent.com/16490253/113473925-39242580-948a-11eb-80cc-23c4e2e0c664.png)

[2021-04-03 09:16] Sanyam2000-dot commented on #103
Go ahead and create a pull request.

[2021-04-03 10:04] Artistic18 commented on #103
@Sanyam2000-dot kindly review the PR.

[2021-04-03 11:00] #103 closed

[2021-04-03 11:55] AshuKV commented on #105
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-03 11:58] Sanyam2000-dot commented on #105
Sure, go ahead.

[2021-04-03 12:02] AshuKV commented on #101
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-03 12:49] Artistic18 commented on #104
I am currently working on this issue.
I had a question, from where are we getting the background image data for the subject card.
@Sanyam2000-dot @ADRE9

[2021-04-03 12:56] FireQueen-3010 commented on #96
Can I work on this under gssoc'21?

[2021-04-03 12:58] FireQueen-3010 commented on #96
/assign

[2021-04-03 13:10] ADRE9 commented on #104
@Artistic18  for  now the images are preset randomly from the folder svg in the server . The images are set and saved for each card and fetch along with the subject data. But we are planning to host the images from the Azure Blob storage and we are thinking of attaching an option to choose from a set of images from a gallery that will be hosted in the Azure Blob storage. Till then you need to wait

[2021-04-03 13:11] Sanyam2000-dot commented on #101
Go ahead!

[2021-04-03 13:13] ADRE9 commented on #96
Yes sure. Make sure you follow the color palette for consistency.Check this out  [Homepage](https://www.figma.com/file/dQbGpSkclUec07vztFkUEV/Material-Design-UI-kit-Components-library-Community?node-id=120%3A1658)

[2021-04-03 13:14] Artistic18 commented on #104
@ADRE9 ok got it and I have already implemented the feature to upload custom image from local storage, it would be great if we could combine both local and cloud functionalities together.

[2021-04-03 13:16] ADRE9 commented on #104
Yes we are thinking to do that and if time permits we can fetch images from unsplash API too.

[2021-04-03 13:32] Coder-Srinivas commented on #97
Hey @ADRE9 can I work on this issue as a part of GSSOC'21?

[2021-04-03 13:36] ADRE9 commented on #97
@Coder-Srinivas  go ahead. @Artistic18  has added the add dialogue and I guess it can be reused. So yes you can use the component.

[2021-04-03 13:36] Coder-Srinivas commented on #97
@ADRE9 can you tell me about the contents of the dialog?
Should the name of the subject change or only the days and subject type or all?

[2021-04-03 13:47] FireQueen-3010 commented on #96
Yeah sure, thnq!

[2021-04-03 13:49] FireQueen-3010 commented on #100
Can I work on this as part of gssoc'21?

[2021-04-03 14:00] Artistic18 commented on #102
I would like to work on this issue. @Sanyam2000-dot

[2021-04-03 14:28] Artistic18 commented on #102
@Sanyam2000-dot @ADRE9  The default cards doesn't  contains any days values, it would be better if someone could add edit those values, it would be easier for me to work.

[2021-04-03 15:51] Sanyam2000-dot commented on #100
Sure, Go ahead.

[2021-04-03 15:58] ADRE9 commented on #97
@Coder-Srinivas check out the edit subject page of the current commit. It's gonna be same as that.

[2021-04-03 16:03] ADRE9 commented on #102
Actually there is a days feature. But since for the first time the user gets template subjects , it is empty. As soon as the user starts editing subject it becomes necessary to add the days to it. And then you can show it in the today's page. We are imagining a page where a new registered user will be introduced to time table so taht the user can easily add and change time table. If you want to wo

[2021-04-03 16:06] Artistic18 commented on #102
@ADRE9 Ok thanks I got your point

[2021-04-03 16:22] Artistic18 commented on #102
@ADRE9 @Sanyam2000-dot check if this is the needed functionality.

https://user-images.githubusercontent.com/16490253/113484574-ad7cba00-94c6-11eb-940d-aedb337701d9.mp4

[2021-04-03 16:33] ADRE9 commented on #102
Yes Exactly ! Change the Route from "attendance" to "today". And Classes and Labs to Today's Classes and Today's Labs respectively.

[2021-04-03 16:35] Artistic18 commented on #102
@ADRE9 Ok sure

[2021-04-03 16:42] himanshu007-creator commented on #94
Hi, here are some suggestions, they seem vicious and funny at same time! 😂
![11](https://user-images.githubusercontent.com/65963997/113485113-a86d3a00-94c9-11eb-9823-2344e86d2b04.jpg)
![124](https://user-images.githubusercontent.com/65963997/113485116-a99e6700-94c9-11eb-8046-927044eff54e.jpg)
![12](https://user-images.githubusercontent.com/65963997/113485117-aacf9400-94c9-11eb-86ed-40b41643e218.jp

[2021-04-03 16:49] Artistic18 commented on #102
@ADRE9 should the Today Page contain the default cards?

[2021-04-03 16:51] ADRE9 commented on #102
No only what's today.

[2021-04-03 16:57] Artistic18 commented on #102
@ADRE9 how this looks?
And as per Route I think we should make another issue if we want to update route to '/today' as it will need a lot of changes to many files. Currently it is routed to '/' and I think it's better to keep that.
![Untitled](https://user-images.githubusercontent.com/16490253/113485513-7f4da900-94cb-11eb-9196-dce99eb041e2.png)

[2021-04-03 17:01] ADRE9 commented on #102
No by Route I meant the Link component that is now labelled as Attendance.

[2021-04-03 17:10] Artistic18 commented on #102
@ADRE9 Can you please help me with this part, I can't seem to get it.

[2021-04-03 17:25] Artistic18 commented on #102
@ADRE9 ok I got what you're trying to say thanks, working on that

[2021-04-03 17:29] ADRE9 commented on #94
We want something professional.

[2021-04-03 18:19] Artistic18 commented on #102
@ADRE9 @Sanyam2000-dot kindly review the PR.

[2021-04-03 18:47] Artistic18 commented on #59
Is this issue still available?

[2021-04-03 18:56] Artistic18 commented on #97
@ADRE9 @Coder-Srinivas Yes the component can be reused, you just need to link it properly and do a bit of state modifications.

[2021-04-03 19:07] GurshehzadSingh commented on #59
@Artistic18 It is assigned to me.. I have already completed the issue.. I just need to make a PR tomorrow after clearing some doubt.

[2021-04-03 19:07] Artistic18 commented on #59
@GurshehzadSingh Sure no problem.

[2021-04-04 05:23] Sanyam2000-dot commented on #102
Looks good to me. @ADRE9 please review it.

[2021-04-04 07:21] FireQueen-3010 commented on #100
Icon size in the sense social icons right? @Sanyam2000-dot

[2021-04-04 07:36] FireQueen-3010 commented on #100
All the styling right now is done only in inline format which means to add media queries for small-screens, I need to create a separate css file for that and transfer all the predefined styling for the footer to that as well and assign classes. So, should I proceed? Please suggest @Sanyam2000-dot

[2021-04-04 12:11] ADRE9 commented on #100
@FireQueen-3010 actually the participant who made this was not aware of Material UI and wanted to contribute. So we had let him do it. But for now you need to use the syntax of Material UI. No inline styling. Use JSS. [Documentation](https://material-ui.com/).

[2021-04-04 12:23] GurshehzadSingh commented on #59
I have corrected the name to Register.. Kindly merge the PR

[2021-04-04 12:40] ADRE9 commented on #94
We want something professional.

[2021-04-04 12:42] ADRE9 commented on #94
Hey there @himanshu007-creator  it has been 3 days already. What's the status of your work? I mean if you are not working on it we need to open it for participants and reassign it. Hoping that you come up with your PR soon.

[2021-04-04 13:21] himanshu007-creator commented on #94
No sir, I am working on it

[2021-04-04 18:09] ADRE9 commented on #94
So were you trying to check whether we are active or not. Because I guess I have got the best team in Girlscript. Mentors are super awesome and the participants are pretty good. We are trying to be easy on them. Btw it took me time to recognise you. But since you have been assigned to this job. Waiting for your PR. Else you can step back for other participants to take this assignment. 😎.

[2021-04-04 18:10] himanshu007-creator commented on #94
Cool, let someone else work.

[2021-04-05 05:36] FireQueen-3010 commented on #96
Hey, I have a doubt. After working on the design do I just provide the link here or add it among the files in the project? @ADRE9

[2021-04-05 06:13] ADRE9 commented on #96
First let us review your designs. If it's acceptable you need to make a pr adding the link to your figma or Adobe XD in the readme file. For reviewing send me the link in the discord server.

[2021-04-05 08:08] Saptar001 opened #111 "Redesigning the Subjects page and adding some new features"
Hello @ADRE9 ,
I am thinking of redesigning the Subjects page and adding some new features to it. These features and insights would throw more light into the person's daily  and previous attendance and  help him keep a track of the same. Making his life bit simpler.

It would be very nice if you kindly assign me to work and contribute on this issue.

Thank You !

:)

[2021-04-05 08:09] #59 closed

[2021-04-05 09:01] FireQueen-3010 commented on #96
Okay

[2021-04-05 09:18] kunaljain0212 opened #112 "Redesign the UI with better color schemes and UX."
**Deliverables:**
Add the deliverables with their description here.
Before beginning to design a new UI you can comment here some of your previous works in UI/UX and based on that we'll assign this issue. We'll try to get on a meet with whoever is assigned with this issue to explain the deliverables.

**Screenshots**
Add any relevant screenshots to show how the elements looks or works currently/ho

[2021-04-05 17:31] #102 closed

[2021-04-05 17:38] ADRE9 commented on #105
@Saptar001 has  a nice idea of graph implementation. Can you please upload the video here @Saptar001 .

[2021-04-05 17:39] ADRE9 commented on #9
I am opening this for other participants.

[2021-04-05 17:41] #100 closed

[2021-04-05 17:43] ADRE9 commented on #97
@Coder-Srinivas what's the status?

[2021-04-05 17:45] ADRE9 commented on #78
@nehathakur27  I am reopening this issue for other participants.

[2021-04-05 17:45] Saptar001 commented on #105
https://user-images.githubusercontent.com/76171314/113605741-ae4b5280-9664-11eb-827e-64c54d5ca4c0.mp4

@ADRE9

[2021-04-05 17:51] ADRE9 commented on #105
Thanks @Saptar001 , so this graph needs to be designed for the subject details page for each particular subject.

[2021-04-05 18:12] Artistic18 opened #114 "Display alternate message when there are no classes/labs available for the current day."
**Deliverables:**
 Currently nothing is displayed if a particular day has no class/lab.
![Untitled](https://user-images.githubusercontent.com/16490253/113608523-54e52280-9668-11eb-94f0-0c9005c30490.png)

- [x] Display an alternate message like 'There are no class/lab today.'

#### Feel free to assign yourself to this issue, if no one get's assigned I will work on it.

[2021-04-05 18:19] ADRE9 commented on #114
Can you work on the footer issue #101 .And moreover the footer is fixed as in mobile I am  not bale to view the lab cards. Check that out.

[2021-04-05 18:21] ADRE9 commented on #114
@Artistic18  do you want to work one some level 3? The time table page would have 2-3 level 3 issues and I guess you can handle it well. Dm me in the discord server.

[2021-04-05 18:23] Artistic18 commented on #114
@ADRE9 Sure I can give them a try.

[2021-04-06 01:37] ADRE9 commented on #105
And @AshuKV  you need to show me the design to review.

[2021-04-06 03:36] Coder-Srinivas commented on #97
@ADRE9 I have a small doubt, messaged you on discord regarding it.

[2021-04-06 09:09] Artistic18 commented on #105
@ADRE9 For developing the graph I think we can use this library https://chartkick.com/react

[2021-04-06 09:13] ADRE9 commented on #105
@Artistic18 yes but this issue is all about designing , implementing would come much later.

[2021-04-06 10:02] Artistic18 commented on #105
Yes I just provided a reference how the graph might actually look, so it becomes easy while designing.

[2021-04-06 10:11] deeptea22 commented on #112
Hey, I would like to work on this issue. I have previously designed these for two other GSSOC projects :
https://www.figma.com/file/XsiAbwGmeozKOJQ6my4G4X/Tutoring-App?node-id=0%3A1
https://www.figma.com/file/HeGwdICyeIfZEarbu4tM5I/Roll-Call?node-id=0%3A1

Thank you :)

[2021-04-06 14:42] rishabhborn2win commented on #112
I would like to improve the UI with better colour schema.

Some of the design links:-
<b>muckIN</b>:-
https://www.figma.com/file/jM68FhhIhiMvjyHnXomAy3/muckIn?node-id=0%3A1
<b>Tambola Numbers</b>
https://www.figma.com/file/VLrpNQlYbncINJ3ESUxB0g/Tambola?node-id=0%3A1

[2021-04-06 14:45] rishabhborn2win commented on #78
I am ready to design a basic email verification page for the project.

[2021-04-06 14:48] rishabhborn2win opened #116 "Google signup and login is to be activated"
**Deliverables:**
Add the deliverables with their description here.
- [X] Firstly the user has to signup user using google login
- [X] Then the user can directly login app using the google login.

**Screenshots**
:( Sorry No SS.
https://user-images.githubusercontent.com/55771529/113730131-3ab54e00-9715-11eb-95f7-c9edc6ca8e9f.mov

[2021-04-06 14:52] rishabhborn2win commented on #116
Please assign me this task.
we can have a meet for the oAuth API related details.

[2021-04-06 15:56] Sanyam2000-dot commented on #78
Go ahead!

[2021-04-06 16:44] Artistic18 opened #117 "Add Timetable Page."
Deliverables:
- [x] Create a basic Timetable page. Design and other functionalities to be added in future issues.
- [x] This page should always display after a user has registered for the first time.

Template:
![SAVE_20210406_151239](https://user-images.githubusercontent.com/16490253/113748188-d058d980-9725-11eb-9a5d-56affa486aec.jpg)

[2021-04-06 17:19] ADRE9 commented on #116
So yes we have some more things to make sure. First of all sign up with Google will provide us with email id and name. And for the rest we still need to ask user for details. So you need to do both if you are doing Google OAuth. Create two level 3 issues. And if you want to work I can assign both of it to you.
So it's your call either both or none of them. You can still create the issue though. Ha

[2021-04-06 17:25] ADRE9 commented on #112
Check out the color schemes right now https://www.figma.com/file/dQbGpSkclUec07vztFkUEV/Material-Design-UI-kit-Components-library-Community?node-id=120%3A1658 and come up with your work. We will accept a PR with better UI/UX.

[2021-04-06 17:26] ADRE9 commented on #117
So are you gonna work on it?

[2021-04-06 17:28] Artistic18 commented on #117
@ADRE9 yes working on it

[2021-04-06 18:48] Artistic18 commented on #117
@ADRE9

https://user-images.githubusercontent.com/16490253/113762831-a1972f00-9736-11eb-921f-34a3a01c7796.mp4

[2021-04-06 18:55] ADRE9 commented on #117
@Artistic18  I mean don't make Time Table a tab . We will attach a button to access it somewhere from the page. After the registration the user needs to be verify email and then needs to set the time table for initial setup and then he gets redirected to the home page. So yeah you need to set up the pragmatic navigation and add a save button for dummy savings and redirecting after saving the subje

[2021-04-06 18:56] ADRE9 commented on #117
Later you can start working on add subjects form (level 3), time table(level 3) and the implementation of adding subject to time table (level 3) issue each.

[2021-04-06 18:57] Artistic18 commented on #117
@ADRE9 yes got it, I just created a tab to verify the redirects and make it easier to work, will remove it later after completing it's functionality and assign it to the button.

[2021-04-06 18:58] Artistic18 commented on #117
@ADRE9 is the email verification page done?

[2021-04-06 19:01] ADRE9 commented on #117
No, issues coming soon. But you can start working on these things. It's gonna take time till then it will be ready.

[2021-04-06 19:05] Artistic18 commented on #117
@ADRE9 ok sure

[2021-04-07 09:41] Artistic18 commented on #117
@ADRE9 is this ok?
Added a redux state to disable the header elements.

https://user-images.githubusercontent.com/16490253/113845469-2de73780-97b3-11eb-9f93-a45b6b8bad6c.mp4

[2021-04-07 14:42] ADRE9 commented on #117
Perfect.👍🏻

[2021-04-07 14:43] Artistic18 commented on #117
@ADRE9 shall I raise a PR?

[2021-04-07 14:49] ADRE9 commented on #117
Sure do it. Comment the lines you have attached, in the redux it gets messy otherwise. Which file have you used or created a new one. I guess for this new file is required , since rest all reducers are dealing with the APIs.

[2021-04-07 20:23] Sristi27 opened #119 "Contact Page"
**Deliverables:**
Add the deliverables with their description here.
- [ ] We can add a contact us page
- [ ] Proper form with proper UI and colour pallete

[2021-04-07 22:45] ADRE9 commented on #119
So you want to design the Contact page right? Stick to the palette and share the link with me to review.

[2021-04-08 05:43] tanishq-arya commented on #80
Can I work on this issue @ADRE9 ?

[2021-04-08 08:39] Sanyam2000-dot commented on #105
@AshuKV can you report your progress?

[2021-04-08 13:46] deeptea22 commented on #112
Hey @ADRE9 This is what i've come up with :
https://www.figma.com/file/rgJ3ACTdteJxiRVmPu5wsi/Bunk-Manager?node-id=0%3A1

[2021-04-08 14:54] ADRE9 commented on #112
There are two points I need to point out
1.The signup and signin card that is used in our current website won't change. So you need to change your design to keep our cards.
2. I need to see how you imagine the design for mobile version.

I really loved your concept and a little design fix and we can confirm it.Great Job.

[2021-04-08 15:51] deeptea22 commented on #112
Ok thank you! Will come up with the updated one soon :)

[2021-04-09 04:18] Sristi27 commented on #119
Do assign it to me!

[2021-04-09 05:44] FireQueen-3010 commented on #96
Done please check discord :) @ADRE9

[2021-04-09 05:59] rishabhborn2win commented on #116
Yes I will complete this task. Kindly assign this task to me.
I didn't understand what you are asking o Create two level 3 issue please make it more clear.

[2021-04-09 09:24] ADRE9 commented on #116
Yes the first is to integrate Google OAuth and 2nd to use te email and name we get from Google to be used in filling the form that contains regdId, password etc.

[2021-04-09 10:22] vtejaeta commented on #94
Can I work on this as a part of GSSOC. Please review the below one which I made in Figma.

![bunk manager](https://user-images.githubusercontent.com/65386350/114166547-7df90200-994b-11eb-8ca3-b5705aa639df.jpg)

[2021-04-09 10:30] deeptea22 commented on #112
https://www.figma.com/file/rgJ3ACTdteJxiRVmPu5wsi/Bunk-Manager?node-id=0%3A1
@ADRE9 Here's the updated one. Please let me know if there are any changes :)

[2021-04-09 17:23] ADRE9 commented on #94
Sure, go ahead. Make a minimal looking logo.

[2021-04-10 02:45] rishabhborn2win commented on #116
Ok sure.

[2021-04-10 03:05] rishabhborn2win commented on #116
<img width="422" alt="Screenshot 2021-04-10 at 8 34 11 AM" src="https://user-images.githubusercontent.com/55771529/114256539-8f87eb80-99d7-11eb-8721-cb14703efacd.png">

There is no message where its indicating that mongo is connected successfully or not

[2021-04-10 08:56] Sanyam2000-dot commented on #78
Can you report your progress @rishabhborn2win ?

[2021-04-10 08:58] rishabhborn2win commented on #78
I was currently working on issue#116. Now, its completed.  so now till tommorow evening I will finalise this page.

[2021-04-10 09:08] #89 closed

[2021-04-10 09:51] ADRE9 commented on #112
@deeptea22 I just liked your designs, though it needs loads of touch ups. Gradient looks okeish but, can you create duplicates of the pages with different color pages to compare. And keep in mind having the dark mode also. And yes for each page you need a light theme , dark theme and mobile view (and yes each page will be a level 3 issue).

P.S :-loved your designs, complete it with touchups and w

[2021-04-10 10:00] rishabhborn2win commented on #112
Your design is awesome!

[2021-04-10 10:08] deeptea22 commented on #112
@ADRE9 @kunaljain0212 @Mustafiz04 @Sanyam2000-dot Sure, will do the changes suggested. Please let me know what are all the different pages i need to do :)

[2021-04-10 10:09] deeptea22 commented on #112
Thank you! 🤗

[2021-04-10 11:20] vtejaeta commented on #94
![64x64_bunk_manager](https://user-images.githubusercontent.com/65386350/114268028-ae5ca100-9a1c-11eb-8ae6-13e4c47151bb.png)

This is 64x64 logo which can be used as favicon, If you like it I can add it as favicon in the code.

For SVG -
https://svgshare.com/i/W0M.svg

[2021-04-10 15:18] Artistic18 commented on #97
@Coder-Srinivas are you working on this issue?

[2021-04-10 15:30] tanishq-arya commented on #80
Hey @ADRE9 I have created a loader component using the npm react-spinners package. I am new to react so can you guide me with the reducer part ? I tried like this adding it before displaying the website.

![image](https://user-images.githubusercontent.com/77333275/114275298-9ea28400-9a3f-11eb-93d7-29452223b93b.png)
![Screenshot (1155)](https://user-images.githubusercontent.com/77333275/114275370-f

[2021-04-11 08:30] rithgan commented on #91
Hey @ADRE9 , I want to make the pull request but I am having merge conflicts. I want to ask if there is any easy solution for that?

[2021-04-11 17:14] Mustafiz04 commented on #119
Yes you can @Sristi27

[2021-04-12 06:10] #117 closed

[2021-04-13 12:22] deeptea22 commented on #112
@kunaljain0212 @Mustafiz04 @Sanyam2000-dot I've come up with a few different colours and their respective dark modes.
https://www.figma.com/file/rgJ3ACTdteJxiRVmPu5wsi/Bunk-Manager
If you could please let me know what are all the different pages i would need to do, then i can start working on those as well.
Thank you :)

[2021-04-13 17:37] #119 closed

[2021-04-15 09:51] Mustafiz04 commented on #112
@deeptea22 all look very interesting.
Let confirm with the admin and then confirm with you.

[2021-04-15 18:13] Artistic18 commented on #97
I think no one is working on this issue, I would like to take it.

[2021-04-16 13:15] ADRE9 commented on #97
Go ahead.

[2021-04-16 13:25] ADRE9 commented on #112
Listen @deeptea22 designs looks awesome. The fonts needs some attention. And about different colors. Use gradients like you have used. And in Dark mode instead of using colors try using different shades of black and instead of shadow you can use thin white borders. Also glassmorphism can go well with your designs. Rest all you've nailed it.

[2021-04-16 13:39] deeptea22 commented on #112
ok will make the changes :)

[2021-04-17 09:52] deeptea22 commented on #112
Hey @ADRE9! I have implemented gradients with all the colours. In dark modes, I have used different shades of black for the fields and also replaced shadows with white borders. Have tried glassmorphism in the 'Name' field of all the gradient designs. Please take a look and if it is okay i will do it for other fields as well. For fonts do you have something in mind?
https://www.figma.com/file/rgJ3A

[2021-04-17 11:55] ADRE9 commented on #112
Hey @deeptea22  it looks better , the font needs some consistency, can I collaborate with you on this project. I need some specific changes that I can't speak of. You can DM link to me to edit on the discord.

[2021-04-17 15:17] Artistic18 commented on #97
@ADRE9 check this, I have also modified the form to display the days checked which are already present in days array.

https://user-images.githubusercontent.com/16490253/115117794-ef752800-9fbd-11eb-8993-555bdb99de6f.mp4

[2021-04-17 17:38] ADRE9 commented on #97
Looks perfect to me. Its responsive like before?

Make a PR if it is else make it responsive.

[2021-04-17 17:39] Artistic18 commented on #97
@ADRE9 yes I have reused the same modal and modified it.

[2021-04-17 18:08] Artistic18 commented on #97
@ADRE9 I think I can't push to master because the timetable page has still not been merged with master. So shall I push edit dialog to timetable branch?

[2021-04-19 03:29] SAHU-01 commented on #105
@Sanyam2000-dot  I would like to work on this issue ,please let me know about all the details I should keep in mind while designing and I will submit a sample by tonight,if you approve of the sample outline,I'd submit a prototype within 2 days!

[2021-04-19 05:47] Sanyam2000-dot commented on #105
I'm so sorry @SAHU-01 but this issue is already assigned. You can choose any other issue and work on it.

[2021-04-19 06:30] ADRE9 commented on #105
Hey @SAHU-01 can you just DM me on the discord server. Actually we have fixed a UI/UX designer for the design issues to work on but if you are eager to work on you can collaborate with her and work together , but if you are willing to take this page to design she'll guide you and this issue will be give to you.

[2021-04-19 08:04] deeptea22 commented on #105
Hey, I would like to work on this :)

[2021-04-19 11:26] SAHU-01 commented on #105
sure I'd love to work on it,and if someone guides me ,it's even better!

[2021-04-19 17:13] anhushree opened #126 "Redesigning Landing Page"
**Is your feature request related to a problem? Please describe.**
The UI layout of the webpage can be improvised. Adding more visual elements to it will make it look better

**Describe the solution you'd like**
Create a landing page for the website where the user can navigate to Home, About, Login slides.
Has UI layouts for Website, Mobile with two themes- light and dark.
The design will be done

[2021-04-19 17:14] anhushree commented on #126
@ADRE9 I would like to work on this issue as a GSSoc'21 participant. Kindly assign it to me.

[2021-04-19 17:15] ADRE9 commented on #126
Sure Go ahead , make sure you mention the color palette and the primary, secondary and tertiary colors.

[2021-04-20 07:47] anhushree commented on #126
@ADRE9 Will, you be assigning GSSoC labels and level labels for this issue? Cuz I want to contribute as a GSSoC participant.

[2021-04-20 16:47] deeptea22 opened #127 "Design - Login Page - Web And Mobile."
Hey, @ADRE9 I have created the design for the login page for the website. Please let me know where i should include the design image files, should i create a separate folder?
Also please assign this to me, so that i can make the PR. Thank you :)

[2021-04-20 16:48] deeptea22 opened #128 "Design - Login Page - Mobile"
Hey, @ADRE9 I have created the design for the login page for the mobile version of website.
Please assign this to me, so that i can make the PR. Thank you :)

[2021-04-20 16:55] ADRE9 commented on #127
No all you need to do is to attach the link to the figma in the readme file. And also attach a screenshot of PC, Mobile and the Dark mode here in the comment.

[2021-04-20 17:04] ADRE9 commented on #128
Can you make a single issue for web and mobile. I am closing this one.

[2021-04-20 17:04] #128 closed

[2021-04-21 10:52] deeptea22 commented on #127
PC-Light Mode
![image](https://user-images.githubusercontent.com/67323371/115541982-6449aa00-a2bd-11eb-806f-5bb45cae0b6a.png)

PC-Dark Mode
![image](https://user-images.githubusercontent.com/67323371/115542060-7deaf180-a2bd-11eb-92cb-96d2aeba0beb.png)

Mobile
![image](https://user-images.githubusercontent.com/67323371/115542250-b68acb00-a2bd-11eb-9281-939d6397601e.png)

[2021-04-21 11:35] anhushree commented on #126
App Design:
https://www.figma.com/file/sd8f5twPt3iCrMGPX2izFa/BunkManagerApp?node-id=0%3A1

Web Design:
https://www.figma.com/file/yv7szBhuylAeMShJoNY7oF/BUNK-MANAGER?node-id=0%3A1

[2021-04-21 12:09] #126 closed

[2021-04-21 12:10] #127 closed

[2021-04-21 19:24] ADRE9 commented on #62
Solved!

[2021-04-21 19:24] #62 closed

[2021-04-21 19:24] #6 closed

[2021-04-21 19:25] #8 closed

[2021-04-21 19:37] ADRE9 opened #131 "Create the Landing Page in React."
**Deliverables:**
Add the deliverables with their description here.

- [x] Follow the design from [Here](https://www.figma.com/file/yv7szBhuylAeMShJoNY7oF/BUNK-MANAGER?node-id=0%3A1)
- [x] Use Material UI to create the page.

**Screenshots**
![Screenshot (259)](https://user-images.githubusercontent.com/49809895/115610879-122d7680-a307-11eb-97d4-15da56ccc7f1.png)

[2021-04-21 19:39] ADRE9 commented on #131
Illustrations will be available by tomorrow.

[2021-04-21 22:39] #97 closed

[2021-04-22 05:13] deeptea22 opened #132 "Design - Sign Up Page - Web and Mobile"
Hey, @ADRE9 I have created the design for the Sign Up page for the website. Please assign this to me, so that i can make the PR. Thank you :)

[2021-04-22 05:16] deeptea22 commented on #132
PC - Light Mode
![image](https://user-images.githubusercontent.com/67323371/115659275-f0a8ab00-a357-11eb-9a50-e05c79e15192.png)

PC - Dark Mode
![image](https://user-images.githubusercontent.com/67323371/115659130-afb09680-a357-11eb-830f-edc664013291.png)

Mobile - Light Mode
![image](https://user-images.githubusercontent.com/67323371/115659202-ce169200-a357-11eb-9ded-459b39816bbf.png)

Mobile-Dar

[2021-04-22 10:25] #132 closed

[2021-04-23 06:20] ashuvssut commented on #131
is that navbar not yet created?

That navbar is not a material-ui AppBar component...
are we allowed to use css to do that? I can completely create that same design using css

[2021-04-23 08:03] ADRE9 commented on #131
@ashuvssut material ui is our go to library for this app. So that navbar needs to be created using material ui and yes it can be created by over riding some values. So yes if you can create something close using the material-ui I can assign you this page.

[2021-04-23 08:32] ashuvssut commented on #131
I think there will a lots of makeStyles overriding. I have to use that MUI Appbar component only right? Or is there any other component? I can find only appbar component upon googling

So, in this issue, contributor has to work on that landing page and that Navbar too?

[2021-04-23 08:33] ashuvssut commented on #131
Is that navbar fixed
 or
will it move up and hide iteself

[2021-04-23 09:17] ADRE9 commented on #131
For now create the rest of webpage , Nav bar needs another issue. You can create one issue, I'll add tags.

[2021-04-23 09:46] ADRE9 commented on #131
You want to be assigned to it?

[2021-04-23 11:49] anhushree opened #134 "UI Design for AboutsUs page"
**Is your feature request related to a problem? Please describe.**
Creating an AboutUs page for the website using the latest Design software like Figma, AdobeXD, etc.

**Describe the solution you'd like**
Would like to create an AboutUs page where the User can get details about the product as well as get to know the product developers and contributors, the footer can have contact us and queries el

[2021-04-23 11:52] anhushree commented on #134
@Mustafiz04 @ADRE9 I would like to work on this issue as a GSSoC'21 participant. Kindly include the respected tags and I would like to get a span of 3 - 4 days for completing this design.

[2021-04-23 14:30] ADRE9 commented on #134
Sure Go Ahead.

[2021-04-23 15:26] ashuvssut commented on #131
alright! i was just confirming this

Plz assign me this issue.

I can connect to you on discord to get the illustrations
or
You can add  a  link to those resources here only

[2021-04-23 17:18] ADRE9 commented on #131
Ilustrations added at client/src/assets/svg/ , all the best brother.

[2021-04-25 04:26] deeptea22 opened #137 "Design - Today Page - Web and Mobile"
Hey, @ADRE9 Please assign this issue to me. I have also made a PR for the same. Thank you!

[2021-04-25 04:29] deeptea22 commented on #137
PC - Light Mode
![image](https://user-images.githubusercontent.com/67323371/115980766-c7348d00-a5ac-11eb-8415-50943f9d9af6.png)

PC - Dark Mode
![image](https://user-images.githubusercontent.com/67323371/115980770-d3204f00-a5ac-11eb-8d6d-a731694b950a.png)

Mobile - Light Mode
![image](https://user-images.githubusercontent.com/67323371/115980778-e7fce280-a5ac-11eb-8185-e6594921fb82.png)

Mobile - D

[2021-04-25 10:18] #137 closed

[2021-04-25 10:18] #105 closed

[2021-04-26 04:27] subhangi2731 commented on #96
please assign me this

[2021-04-26 04:27] subhangi2731 commented on #9
please assign me this I will do it

[2021-04-26 04:28] subhangi2731 commented on #114
please assign me this too

[2021-04-26 11:51] ADRE9 commented on #96
Sorry @subhangi2731 this has already been assigned, to another participant who contacted us on discord a week before.

[2021-04-26 11:52] ADRE9 commented on #9
Sure go ahead! [Design for calendar is here.](https://www.figma.com/file/8JiFfRS746ot9w7Uh7yq3O/Untitled?node-id=0%3A1)

[2021-05-02 20:27] Shivangi-ch opened #140 "Add the floating animaton in the svg of the home page."
**Is your feature request related to a problem? Please describe.**
No its not a problem.

**Describe the solution you'd like**
I would like to add the floating animaton in the svg of the home page. this will make the page look more attractive.

**Additional context**
I am a GSSOC participant .
Please assign this to me.

[2021-05-04 15:10] anirudhsai20 opened #141 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source progarms in which this project was listed in.

[2021-05-04 15:10] anirudhsai20 commented on #141
Hi! Please assign this issue to me under GSSOC.

[2021-05-04 15:18] ADRE9 commented on #141
Sure Go Ahead!

[2021-05-04 18:45] Sanyam2000-dot opened #142 "Create the Login page in React"
**Deliverables:**
Add the deliverables with their description here.

- [ ] Link for design is [https://www.figma.com/file/BBOPzTwcLPLc8B3HckxQqH/Login?node-id=0%3A1](url)
- [ ] Follow the Material UI theme
- [ ] Make for both light and dark theme
![Screenshot (240)](https://user-images.githubusercontent.com/53525430/117053660-d8ad3000-ad36-11eb-8b80-85b73b66ffc2.png)

[2021-05-05 11:56] shobit1337 commented on #142
Hey @Sanyam2000-dot , I did like to work on the login page. I'm working with react and Material UI already, That's why I want to build this one, Thanks

[2021-05-05 12:22] Sanyam2000-dot commented on #142
Go ahead! I'm assigning this issue to you. If you face any doubts please drop the message in comment only and keep us updated about your progress. Happy Coding :)

[2021-05-07 04:36] VishalPatil18 commented on #80
@ADRE9 Can I work on this issue under GSSoC?

[2021-05-07 04:45] VishalPatil18 commented on #134
Can I work on this @ADRE9 under GSSoC21?

[2021-05-07 04:49] VishalPatil18 commented on #91
Can I work on this @ADRE9 under GSSoC21?
If yes kindly assign it to me. Thanks!

[2021-05-07 08:33] ADRE9 commented on #91
@SpecTEviL just check out the Readme file. I guess the landing page has been done. So you can go for any other page you want.

[2021-05-07 08:34] ADRE9 commented on #80
@SpecTEviL sure please go ahead.

[2021-05-07 08:34] ADRE9 commented on #134
Yes. Please.

[2021-05-07 10:43] Khushi-24 commented on #9
@subhangi2731 Are you working on this issue?

[2021-05-07 10:44] Khushi-24 commented on #9
@subhangi2731 Are you working on this issue?

[2021-05-07 10:49] Khushi-24 commented on #96
@ADRE9 Can I work on this issue if no one is working?

[2021-05-07 13:03] VishalPatil18 commented on #80
@ADRE9
Great! Can you please assign it to me so that I can start the work.

[2021-05-07 15:19] ADRE9 commented on #96
@Khushi-24 it has already been assigned. Sorry.

[2021-05-07 15:20] ADRE9 commented on #9
@Khushi-24 go ahead. I am assigning it to you. Ask the mentors for guidance.

[2021-05-07 19:19] Sanyam2000-dot opened #144 "Create a Sign up page in React"
**Deliverables:**
Add the deliverables with their description here.

- [ ] Link for design is https://www.figma.com/file/Bag7fzf5w2NlrROsILCi91/SignUp?node-id=0%3A1
- [ ] Use Material UI
- [ ] Make for both light and dark theme

![Screenshot (246)](https://user-images.githubusercontent.com/53525430/117498279-38a21180-af97-11eb-8190-ae51fa0ba988.png)

[2021-05-07 19:23] Sanyam2000-dot opened #145 "Create Today page in React"
**Deliverables:**
Add the deliverables with their description here.

- [ ] Task 1
- [ ] Task 2

**Screenshots**
Add any relevant screenshots to show how the elements looks or works currently/how the enhanced element should look or function.

[2021-05-07 19:29] Sanyam2000-dot opened #146 "Create the Subject details page in React"
**Deliverables:**
Add the deliverables with their description here.

- [ ]  Link for design is https://www.figma.com/file/8JiFfRS746ot9w7Uh7yq3O/Untitled?node-id=0%3A1
- [ ] Use Material UI
- [ ] Make for both light and dark theme

![Screenshot (251)](https://user-images.githubusercontent.com/53525430/117499153-718eb600-af98-11eb-9663-d04aff156019.png)
![Screenshot (252)](https://user-images.githu

[2021-05-08 02:44] srrathi commented on #144
@Sanyam2000-dot I want to work on this issue please do consider assigning it to me.

[2021-05-08 06:36] AshuKV commented on #145
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-08 07:17] Sanyam2000-dot commented on #144
@srrathi Go ahead. Please follow the design mentioned above and update about your progress regularly. In case you face any doubts ping me personally on discord or you can leave your doubt in the comments themselves. Happy Coding ;)

[2021-05-08 07:18] Sanyam2000-dot commented on #145
@AshuKV Go ahead!

[2021-05-08 07:19] Sanyam2000-dot commented on #142
Hey @shobit1337, Can you update me about your progress?

[2021-05-08 14:39] shobit1337 commented on #142
Yea I am currently understanding the codebase of the project, there were some packages that were used and new to me.
Also on my computer, I'm unable to run the server it was asking for some env file that was missing, So, right now only the client-server is running so working from that.
I will update you by Monday for sure @Sanyam2000-dot .

[2021-05-08 14:47] Sanyam2000-dot commented on #142
No issues take your time :)

[2021-05-09 04:06] Preeti2095 commented on #146
Can we create these using figma @Sanyam2000-dot ??

[2021-05-09 04:16] Preeti2095 commented on #146
I would like to work in this issue.

[2021-05-09 07:22] Sanyam2000-dot commented on #146
Sure, Go ahead! In case you face any doubt please comment here only. Happy coding :)

[2021-05-09 09:37] mn-gt commented on #142
Can I also work on this issue?
As I wanted to learn react.Js by designing this..

[2021-05-09 11:14] Preeti2095 commented on #146
Okay, Thank you.

[2021-05-10 10:26] Khushi-24 commented on #9
Ok Sir.

[2021-05-10 20:04] Shivangi-ch commented on #140
@Sanyam2000-dot Please assign this to me.

[2021-05-11 09:55] Sanyam2000-dot commented on #142
Hey! @shobit1337 Any progress so far?

[2021-05-11 09:57] Sanyam2000-dot commented on #140
Hey @Shivangi-ch, may I know what exactly do you want to add?

[2021-05-11 09:59] Sanyam2000-dot commented on #145
@AshuKV can you update me about your progress?

[2021-05-11 10:00] Sanyam2000-dot commented on #144
@srrathi can you update me about your progress?

[2021-05-11 11:55] Shivangi-ch commented on #140
@Sanyam2000-dot I would like to add these types of animations in illustrations(svg).
Demo:
![Hnet-imagesdf](https://user-images.githubusercontent.com/57783826/117811159-d9d1e600-b27d-11eb-9ed6-e3b48bb5e0ba.gif)

[2021-05-11 12:03] AshuKV commented on #145
@Sanyam2000-dot I am currently working on this issue, would send PR within 3 days.

[2021-05-11 12:16] Sanyam2000-dot commented on #140
This looks cool but right now we are redesigning the pages and once that is done you can surely do this.

[2021-05-11 12:25] #134 closed

[2021-05-12 04:20] mridulabatra commented on #80
Please assign me this task as a part of GSSoC'21

[2021-05-12 05:32] Preeti2095 commented on #146
![Screenshot (73)](https://user-images.githubusercontent.com/70755131/117923204-45b15e80-b311-11eb-9854-e65d57fb28ab.png)
i have done this much. To put the calendar i am planning to do it in card. i am having problem to put that cards for calendar. Please help me in that or any suggestion @Sanyam2000-dot .

[2021-05-12 15:48] shobit1337 commented on #142
Yeah working on it... I have separately designed the header and auth card component. Need to complete the get in touch and footer section then just put it together and make a pull request for review.
Sorry for the delay. My father has been tested positive 2 days ago, Hence only able to give 1hr a day and learning side by side too.

[2021-05-12 16:41] ADRE9 commented on #146
@Preeti2095 for now put the calendar aside and work on the rest of the page. Calendar will need another issue of level three. Just put a blank div for calendar with a gray color and a label as Calendar to specify that a calendar would be integrated there. And make sure you use exact colors.

[2021-05-12 16:42] ADRE9 commented on #80
@SpecTEviL it's has been to along aleready. I am re assigning this  to @mridulabatra .

[2021-05-12 16:44] ADRE9 commented on #140
Yes exactly it looks cool. Let the page be made you can work on it. @Shivangi-ch .

[2021-05-12 16:57] kunaljain0212 commented on #142
No issues, take your time just keep us posted. Also, take care of your family! @shobit1337

[2021-05-12 17:03] kunaljain0212 commented on #141
I feel this is something which a project should flaunt and so I would suggest we should move this section to the top, after the images etc. Also currently the logo of GSSoC is very big, I think we can have consistently sized small square boxes they would look better, since the logo is taking lots of space at the moment. What do you think @ADRE9 ?

[2021-05-12 17:04] kunaljain0212 commented on #140
Any updates on this @Shivangi-ch ?

[2021-05-12 17:05] kunaljain0212 commented on #131
Closing this issue @ADRE9

[2021-05-12 17:05] #131 closed

[2021-05-12 17:06] #116 closed

[2021-05-12 17:07] kunaljain0212 commented on #114
@subhangi2731 any updates?

[2021-05-12 17:08] #112 closed

[2021-05-12 17:09] kunaljain0212 commented on #9
Any updates @Khushi-24 ?

[2021-05-12 17:26] Mustafiz04 opened #148 "CRON JOB FROM ATTENDANCE | BACKEND"
This is for adding attendance as present on every active class day.

1. Active class day is from Monday to Saturday.
2. Add **"holiday"** on any holiday it comes on active class day.
2. Cron should run only one time a day.
2. Cron should run at 12 AM.
3. All the Cron options should come from the config file.
4. Write code in a very optimal way

Any doubt or data/information, please comment below o

[2021-05-12 17:38] Mustafiz04 opened #149 "BACKEND OPTIMISATION"
Need to optimize code for backend.
Need multiple developers for that.

Anyone who is going to work please keeps in mind

1. First please goes through the complete code
2. Comment on which part you are going to optimize and how.
3. Always code in a separate branch (PRIORITY)

Any doubt please contact us.

[2021-05-12 18:15] Shivangi-ch commented on #140
@Sanyam2000-dot and @ADRE9 said to wait till the page is redesigned!
@kunaljain0212

[2021-05-12 18:52] Khushi-24 commented on #9
Sorry for the delay @kunaljain0212. I got stuck in resolving issues of some other projects. If someone wants to work on this issue then that's fine else I can do it as soon as I resolve the issue I am working on at present.

[2021-05-13 09:58] Preeti2095 commented on #146
Okay.

[2021-05-13 15:48] shobit1337 commented on #142
I won't be able to continue my work on this issue due to health issue. Sorry guys, You can assign it to someone else.

[2021-05-13 15:55] mn-gt commented on #142
Can you please assign to me this task  @kunaljain0212 ?

[2021-05-13 15:59] Sanyam2000-dot commented on #142
No worries. Take care!

[2021-05-13 16:00] Sanyam2000-dot commented on #142
Go ahead. I'm assigning this to you.

[2021-05-13 16:45] subhangi2731 commented on #114
Yes @kunaljain0212 I am sending a pr now

[2021-05-13 16:46] subhangi2731 commented on #114
I have worked

[2021-05-13 17:16] subhangi2731 opened #151 "Failed to find .env file at path: ./configs/dev.env"
**Describe the bug**
The .env file has been removed, probably due to a bad commit. It should be added for running of server

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Server should run

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- V

[2021-05-13 17:17] subhangi2731 commented on #151
@kunaljain0212 @ADRE9 I want to work on this please assign me this

[2021-05-13 17:32] Subham142 opened #152 "Frontend: Add a 404 NOT FOUND page"
If the user goes to another path the page 404 page is shown

[2021-05-13 18:13] Artistic18 commented on #151
Are you facing any issue while running the app because it's working fine for me.
Moreover it's a bad practice to commit .env variables because it contains sensitive data like api_keys. Therefore I don't think the .env file has been removed due to a bad commit. It is ignored in the gitignore.

[2021-05-13 20:51] harshita2319 commented on #96
Open now or someone's working?

[2021-05-13 20:58] subhangi2731 commented on #151
@Artistic18 In package.json under npm run dev command, ./configs/dev/.env is mentioned which does not exist in the project. I am well aware that env contains confidential information. @kunaljain0212 please assign me this

[2021-05-13 21:01] subhangi2731 commented on #9
@kunaljain0212 @ADRE9 please assign me this I will work

[2021-05-13 21:05] subhangi2731 commented on #96
@ADRE9 @kunaljain0212 Please assign me this issue I will send a pr within 2 days

[2021-05-13 21:06] subhangi2731 commented on #111
@ADRE9 I want to work on this I see the pr has not been sent since 1 month so can u assign me

[2021-05-13 21:08] subhangi2731 commented on #144
@Sanyam2000-dot please assign me this I want to work on this I will send a pr by tomorrow

[2021-05-13 21:10] subhangi2731 commented on #148
@Mustafiz04 please assign me this issue I will send the pr tomorrow

[2021-05-14 00:19] #96 closed

[2021-05-14 00:20] ADRE9 commented on #96
@subhangi2731 the pr has been merged for it I guess. Sorry for not closing this.

[2021-05-14 02:03] Mustafiz04 commented on #148
@subhangi2731 have you understand the problem statement completely ??

I am assigning to you.
If you have any doubt you can ask here or in discord.

[2021-05-14 04:47] Subham142 commented on #152
@kunaljain0212  please assign it to me

[2021-05-14 06:35] subhangi2731 commented on #151
@Mustafiz04 @kunaljain0212 please assign me

[2021-05-14 06:42] subhangi2731 commented on #148
@Mustafiz04 yes If I have any doubts I will reach out to u in discord

[2021-05-14 07:24] #114 closed

[2021-05-14 14:29] #151 closed

[2021-05-15 05:15] subhangi2731 opened #154 "Setting up Eslint and making the code prettier"
I will lint the code and set up Eslint in the project

[2021-05-15 05:16] subhangi2731 commented on #154
@ADRE9 @kunaljain0212 @Mustafiz04 please asign this issue to me

[2021-05-15 05:18] kunaljain0212 commented on #144
@srrathi because of no response from your side, I'm assigning this issue to @subhangi2731

[2021-05-15 05:19] kunaljain0212 commented on #144
@subhangi2731 go ahead!

[2021-05-15 05:24] kunaljain0212 commented on #111
Someone else redesigned this page already. So I think we should close this issue @ADRE9 @Sanyam2000-dot

[2021-05-15 05:28] kunaljain0212 commented on #154
@subhangi2731 would you be able to work on two issues at once? I would suggest you to work on #144 at the moment and once that is completed we'll assign this to you.

[2021-05-15 05:31] kunaljain0212 commented on #152
@Subham142  good job, but we actually went through a UI redesign and the links to new UI designs are available in the readme file, please go through those designs once and see if you can create a 404 page similar to the new designs and colour theme.

[2021-05-15 06:28] subhangi2731 commented on #154
@kunaljain0212 yes i can work on this please assign I have experience in eslint and prettier

[2021-05-15 06:28] subhangi2731 commented on #154
I will send a pr today only @kunaljain0212

[2021-05-15 10:46] Preeti2095 commented on #146
Hello @Sanyam2000-dot @ADRE9. I would like to make a pr to show what i have done till now so that i can further improve my code and i have few doubts also. So can i make the pr?

[2021-05-15 11:17] subhangi2731 commented on #154
@ADRE9 please assign me so that I can start working

[2021-05-15 12:31] subhangi2731 commented on #154
okay @ADRE9 @kunaljain0212 I will open this issue once I complete the other issue

[2021-05-15 14:26] ADRE9 commented on #154
Take your time. But be in touch with mentors about your progress.

[2021-05-15 14:28] ADRE9 commented on #146
It would be better if you can show us some of the screenshots. And after that you can make a PR so that we can review.@Preeti2095

[2021-05-15 14:31] subhangi2731 commented on #154
sure @ADRE9 I will be in touch

[2021-05-15 15:18] Preeti2095 commented on #146
this is what i have done @ADRE9 @Sanyam2000-dot
![Screenshot (74)](https://user-images.githubusercontent.com/70755131/118368070-dc567780-b5be-11eb-9977-bd91743d0571.png)

[2021-05-16 06:14] GuptaTanisha opened #155 "Google Sign In Not Working"
**Describe the bug**
The Google Sign-In is not working

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the Homepage
2. Click on Sign In using Google

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]
- OS: [e.g. iOS8.1]
- B

[2021-05-16 06:15] GuptaTanisha commented on #155
Please Assign this to me.

[2021-05-16 07:43] subhangi2731 commented on #9
@ADRE9 Do I have to create React  Scheduler using create react app or build a calendar component ??

[2021-05-16 13:20] Mustafiz04 commented on #148
@subhangi2731 any update ??

[2021-05-16 13:29] subhangi2731 commented on #148
@Mustafiz04 I am working on this will send a pr

[2021-05-17 08:15] sj056 commented on #145
@Sanyam2000-dot Hey! is this issue resolved?

[2021-05-17 10:03] Sanyam2000-dot commented on #146
@Preeti2095  This looks good but try to optimize it more according to the design given to you.

[2021-05-17 10:10] Sanyam2000-dot commented on #145
@sj056 This issue is not resolved but as pr was made by @AshuKV, we have suggested some changes and assigned him 3-4 days to work on it. You can check after 3-4 days, if the requirements are not met we will assign this issue to you.

[2021-05-17 15:37] Preeti2095 commented on #146
yes, i am doing that. One question how can i make the text ( BUNK MANAGER) and the logo(small tick mark sign) on same line?

[2021-05-18 05:55] hardikshah197 commented on #149
May I work on this? @Mustafiz04

[2021-05-19 07:43] Preeti2095 commented on #146
UPDATE:-

![Screenshot (75)](https://user-images.githubusercontent.com/70755131/118774742-c89f5f80-b8a3-11eb-8c3a-c7bf0b2a884c.png)

i want to ask how can i put progress bar like it will be connected to graph, right?

[2021-05-20 09:03] kunaljain0212 commented on #154
Any updates? @subhangi2731

[2021-05-20 09:04] kunaljain0212 commented on #152
Hi @Subham142 did you update the design?

[2021-05-20 11:40] subhangi2731 commented on #154
@kunaljain0212 I am working on it

[2021-05-21 17:22] jynnidev commented on #144
I want to work on this issue please do consider assigning it to me.

[2021-05-21 17:26] shashisad commented on #144
I want to work on this issue please do consider assigning it to me.

[2021-05-21 17:33] #141 closed

[2021-05-21 17:35] ADRE9 commented on #155
How are you thinking of implementing this one? @GuptaTanisha

[2021-05-21 17:36] ADRE9 commented on #149
Sure go ahead!

[2021-05-21 17:38] Mustafiz04 commented on #149
@hardikshah197 any doubt ??
Have you understood the problem what to do?

[2021-05-21 17:39] Mustafiz04 commented on #148
@subhangi2731 Any update now? Its been a week you are working on this issue.

[2021-05-21 17:42] ADRE9 commented on #146
For now just complete the the design and make sure you are using Material UI for the designs. Make the progress bar using [this](https://material-ui.com/components/progress/#linear-determinate)

[2021-05-21 17:50] subhangi2731 commented on #148
@Mustafiz04 my health was not well. I will create a pr by tomorrow surely

[2021-05-21 17:52] subhangi2731 commented on #144
@shashisad I am working on this issue
@kunaljain0212 @Mustafiz04 I will send the pr tomorrow surely my health was not well

[2021-05-21 17:54] Mustafiz04 commented on #148
@subhangi2731 Okay no problem. Take care.

[2021-05-21 17:59] ADRE9 commented on #142
Any updates @mn-gt ?

[2021-05-22 05:56] GuptaTanisha commented on #155
@ADRE9 I can use [this doc](https://medium.com/dailyjs/mern-stack-implementing-sign-in-with-google-made-easy-9bfdfe00d21c) as refernce

[2021-05-22 07:12] Preeti2095 commented on #146
i think it will be better if i use [this](https://material-ui.com/components/slider/#slider) then progress bar. What do you think @ADRE9?

[2021-05-22 13:19] Shivangi-ch commented on #140
@Sanyam2000-dot @ADRE9 Can I start working on this issue now.

[2021-05-22 13:22] Shivangi-ch opened #157 "Clean the code."
**Deliverables:**
- Due to a lot of contributions, the code is messy right now. For example improper indentation, unesseccary spaces/tabs, lack of comments to explain the code and extra commented code.
- All this makes it difficult for beginner contributors to understand the code.

So the code should be cleaned.

[2021-05-22 13:40] Shivangi-ch commented on #157
@Sanyam2000-dot @ADRE9 Please assign.

[2021-05-22 18:02] #152 closed

[2021-05-23 10:52] mn-gt commented on #142
I am working on this...

[2021-05-25 04:22] dsnehasish74 commented on #157
I want to contribute in this issue

[2021-05-27 07:46] Arpita309 opened #160 "Landing page as per new designs"
I have worked on the landing page , and created a pull request for the same.

[2021-05-30 15:36] Preeti2095 commented on #146
I am waiting for your response @ADRE9 @Sanyam2000-dot.

[2021-05-30 15:39] ADRE9 commented on #146
Go for it. Sorry for not responding. Had some commitments.

[2021-05-30 15:46] Preeti2095 commented on #146
It's alright!

[2021-05-31 17:20] mn-gt commented on #142
Hey! @ADRE9 @Sanyam2000-dot
I have almost completed the login part but there are some problems in UI  so I want some more time..

[2021-05-31 17:26] ADRE9 commented on #142
Take your time.

[2021-05-31 19:44] #160 closed

[2021-05-31 20:47] mn-gt commented on #142
Hey! @ADRE9 @Sanyam2000-dot
1. Can anyone please clarify the theme color details (For light and dark mode ) and font family (if any change required).
2.  Will the app bar be visible after logged the user/filling sign up form (please provide any screenshot, if any)?

[2021-05-31 20:50] ADRE9 commented on #142
Check out the figma file it has the colors specified. And yes the app bar will be visible after login . The figma file has been provided at the top.

[2021-06-02 10:46] Preeti2095 commented on #146
Update @ADRE9 @Sanyam2000-dot :-
![Screenshot (77)](https://user-images.githubusercontent.com/70755131/120467514-e39ec300-c3bd-11eb-9f0b-2aa45f0211be.png)

[2021-06-02 10:49] Preeti2095 commented on #146
It is pretty much done and just left with light mode and make it responsive.
So for light mode shall I create a different page?

[2021-06-07 14:47] Preeti2095 commented on #146
?? @ADRE9 @Sanyam2000-dot

[2021-06-07 15:01] ADRE9 commented on #146
Light mode just needs it to be using theme. You don't need to create another Page. And yes make it responsive.

[2021-06-12 11:37] Preeti2095 commented on #146
including theme is getting overwhelming kind of thing for me....can you see my code and guide me ahead?? i can't do ahead alone. Will be greatful for your guidance @ADRE9  @Sanyam2000-dot or any other project admins or anyone.

[2021-06-12 11:39] ADRE9 commented on #146
Hey @Preeti2095 , we are at the moment pretty busy. Glad you are so interested in learning. I'll help you as soon as I get some time.

[2021-06-12 11:42] Preeti2095 commented on #146
Ok sure.

[2021-08-28 08:13] lopamudra2000 commented on #155
Hey @ADRE9  I want to work on this issue.Can you assign it to me?

[2021-08-28 08:57] ADRE9 commented on #155
Hey @lopamudra2000 we were thinking of integrating the firebase authentication with our current Webapp . Will you be able to integrate the firebase google sign in with the front end and then we will need to integrate it with the backend to verify the token that we get from the firebase ?

[2021-08-28 09:13] lopamudra2000 commented on #155
Yes @ADRE9 I'd do .I'll require the client api key.

[2021-08-28 09:17] ADRE9 commented on #155
Ok I'll set up a temporary client api key and upload in a file called as firebase.js. Will that be ok?

[2021-08-30 16:03] lopamudra2000 commented on #155
I have made the PR adding the feature of client side authentication of firebase google login. Please Review PR #161 . My checks are getting failed.

[2021-08-30 16:04] ADRE9 commented on #155
Yes we have actually updated the package manager from npm to yarn .

[2021-08-30 16:06] #155 closed

[2021-10-19 02:15] nguyenquanghieu2000d opened #162 "Can you give me an account to log in the app on heroku?"
Can you give me an account to log in the app on heroku?
https://salty-brook-29410.herokuapp.com/auth

[2021-10-19 18:37] ADRE9 commented on #162
Hey @nguyenquanghieu2000d we are deprecating the frontend. Its currently running React.We will be remaking it as a mobile application in React Native.
Tell me if you are interested, I'll inform when we start.